In [88]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [75]:
df = pd.read_csv("heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [76]:
X = df.drop('target', axis=1)
y = df['target']

In [77]:
categorical_cols = ["sex", "cp", "fbs", "restecg", "exang", "slope", "ca", "thal"]
numeric_cols = [c for c in X.columns if c not in categorical_cols]
X_categorical = pd.get_dummies(X[categorical_cols], drop_first=True)
X_numeric = X[numeric_cols]

In [78]:
scalers = {'raw':None, 'minmax': MinMaxScaler(), 'standard': StandardScaler()}
for name, scaler in scalers.items():
    if scaler is not None:
        X_scaled = scaler.fit_transform(X_numeric)
X_num_scaled = pd.DataFrame(X_scaled, columns=numeric_cols)

In [79]:
X = pd.concat([X_num_scaled, X_categorical], axis=1)
X

,age,trestbps,chol,thalach,oldpeak,sex,cp,fbs,restecg,exang,slope,ca,thal
0,-0.268437,-0.377636,-0.659332,0.821321,-0.060888,1,0,0,1,0,2,2,3
1,-0.158157,0.479107,-0.833861,0.255968,1.727137,1,0,1,0,1,0,0,3
2,1.716595,0.764688,-1.396233,-1.048692,1.301417,1,0,0,1,1,0,0,3
3,0.724079,0.936037,-0.833861,0.516900,-0.912329,1,0,0,1,0,2,1,3
4,0.834359,0.364875,0.930822,-1.874977,0.705408,0,0,1,1,0,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.503520,0.479107,-0.484803,0.647366,-0.912329,1,1,0,1,1,2,0,2
1021,0.613800,-0.377636,0.232705,-0.352873,1.471705,1,0,0,0,1,1,1,3
1022,-0.819834,-1.234378,0.562371,-1.353113,-0.060888,1,0,0,0,1,1,1,2
1023,-0.488996,-1.234378,0.155137,0.429923,-0.912329,0,0,0,0,0,2,0,2
1024,-0.047877,-0.663216,-1.124743,-1.570556,0.279688,1,0,0,1,0,1,1,3

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [81]:
model = Sequential([
    Dense(32, activation="relu", input_shape=(X_train.shape[1],)),
    Dense(16, activation="relu"),
    Dense(1, activation="sigmoid")
])

c:\Python313\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [82]:
model.compile(optimizer='adam', loss="binary_crossentropy", metrics=["accuracy"])

In [ ]:
history = model.fit(X_train, y_train, epochs=5, batch_size=32, validation_split=0.2)

Epoch 1/5

24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.6409 - loss: 0.6524 - val_accuracy: 0.6829 - val_loss: 0.6330
Epoch 2/5
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7981 - loss: 0.5395 - val_accuracy: 0.6707 - val_loss: 0.5743
Epoch 3/5
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.8293 - loss: 0.4628 - val_accuracy: 0.7561 - val_loss: 0.5429
Epoch 4/5
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.8482 - loss: 0.4100 - val_accuracy: 0.7439 - val_loss: 0.5324
Epoch 5/5
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8469 - loss: 0.3749 - val_accuracy: 0.7561 - val_loss: 0.5244

In [84]:
y_pred = (model.predict(X_test) > 0.5).astype(int)
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)

results = {}
for scale in scalers:
    name = "raw" if scale is None else scale
    results[name] = {"accuracy": acc, "precision": prec, "recall": rec}
    print(f"{name} → Acc: {acc:.3f}, Prec: {prec:.3f}, Rec: {rec:.3f}")

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step
raw → Acc: 0.756, Prec: 0.730, Rec: 0.816
minmax → Acc: 0.756, Prec: 0.730, Rec: 0.816
standard → Acc: 0.756, Prec: 0.730, Rec: 0.816