# Time Series Analysis of Daily Electricity Consumption

In [23]:
import pandas as pd
import numpy as np

In [24]:
# !pip install xlrd

In [25]:
# !pip install openpyxl

In [26]:
path = r"C:\Users\bbuser\Desktop\Time Series Analysis of Daily Electricity Consumption\household_power_consumption.txt"
df = pd.read_csv(path, sep=';', low_memory=False)

## Basic time series handling using pandas

In [27]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [29]:
df.replace('', np.nan, inplace=True)
df.replace('?', np.nan, inplace=True)

In [30]:
df.isnull()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2075254,False,False,False,False,False,False,False,False,False
2075255,False,False,False,False,False,False,False,False,False
2075256,False,False,False,False,False,False,False,False,False
2075257,False,False,False,False,False,False,False,False,False
2075258,False,False,False,False,False,False,False,False,False

In [31]:
colums = [
    'Global_active_power',
    'Global_reactive_power',
    'Voltage',
    'Global_intensity',
    'Sub_metering_1',
    'Sub_metering_2',
    'Sub_metering_3'
]
df[colums] = df[colums].astype(float)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: float64(7), object(2)
memory usage: 142.5+ MB

 # Convert to datetime

In [33]:
df["Date"] = pd.to_datetime(df["Date"])
# df["Time"] = pd.to_datetime(df["Time"])

C:\Users\bbuser\AppData\Local\Temp\ipykernel_18004\1991836566.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Date"] = pd.to_datetime(df["Date"])

In [34]:
df.dtypes

Date                     datetime64[ns]
Time                             object
Global_active_power             float64
Global_reactive_power           float64
Voltage                         float64
Global_intensity                float64
Sub_metering_1                  float64
Sub_metering_2                  float64
Sub_metering_3                  float64
dtype: object

In [35]:
df["Time"]

0          17:24:00
1          17:25:00
2          17:26:00
3          17:27:00
4          17:28:00
             ...
2075254    20:58:00
2075255    20:59:00
2075256    21:00:00
2075257    21:01:00
2075258    21:02:00
Name: Time, Length: 2075259, dtype: object

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   datetime64[ns]
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 142.5+ MB

## set datetime index

In [37]:
df = df.set_index('Date')
print("\nDataFrame with DatetimeIndex:\n", df)
print("\nIndex type:", df.index)

DataFrame with DatetimeIndex:
                 Time  Global_active_power  Global_reactive_power  Voltage  \
Date
2006-12-16  17:24:00                4.216                  0.418   234.84
2006-12-16  17:25:00                5.360                  0.436   233.63
2006-12-16  17:26:00                5.374                  0.498   233.29
2006-12-16  17:27:00                5.388                  0.502   233.74
2006-12-16  17:28:00                3.666                  0.528   235.68
...              ...                  ...                    ...      ...
2010-11-26  20:58:00                0.946                  0.000   240.43
2010-11-26  20:59:00                0.944                  0.000   240.00
2010-11-26  21:00:00                0.938                  0.000   239.82
2010-11-26  21:01:00                0.934                  0.000   239.70
2010-11-26  21:02:00                0.932                  0.000   239.55

            Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
Date
2006-12-16              18.4             0.0             1.0            17.0
2006-12-16              23.0             0.0             1.0            16.0
2006-12-16              23.0             0.0             2.0            17.0
2006-12-16              23.0             0.0             1.0            17.0
2006-12-16              15.8             0.0             1.0            17.0
...                      ...             ...             ...             ...
2010-11-26               4.0             0.0             0.0             0.0
2010-11-26               4.0             0.0             0.0             0.0
2010-11-26               3.8             0.0             0.0             0.0
2010-11-26               3.8             0.0             0.0             0.0
2010-11-26               3.8             0.0             0.0             0.0

[2075259 rows x 8 columns]

Index type: DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16', '2006-12-16',
               ...
               '2010-11-26', '2010-11-26', '2010-11-26', '2010-11-26',
               '2010-11-26', '2010-11-26', '2010-11-26', '2010-11-26',
               '2010-11-26', '2010-11-26'],
              dtype='datetime64[ns]', name='Date', length=2075259, freq=None)

In [38]:
df.head()

,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,,
2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

 # Time-based Slicing

In [39]:
dates = pd.date_range(start='2023-01-01', periods=10, freq='D')
values = np.random.randint(10, 30, size=10)
df_ts = pd.DataFrame({'Value': values}, index=dates)
print("\nLonger Time Series DataFrame:\n", df_ts)

print("\nData for '2023-01-05':\n", df_ts.loc['2023-01-05'])
print("\nData for '2023-01-03' to '2023-01-07':\n", df_ts.loc['2023-01-03':'2023-01-07'])

Longer Time Series DataFrame:
             Value
2023-01-01     17
2023-01-02     28
2023-01-03     23
2023-01-04     13
2023-01-05     18
2023-01-06     14
2023-01-07     15
2023-01-08     26
2023-01-09     27
2023-01-10     27

Data for '2023-01-05':
 Value    18
Name: 2023-01-05 00:00:00, dtype: int32

Data for '2023-01-03' to '2023-01-07':
             Value
2023-01-03     23
2023-01-04     13
2023-01-05     18
2023-01-06     14
2023-01-07     15

## Resampling

In [40]:
df_weekly_sum = df_ts.resample('W').sum()
print("\nWeekly sum:\n", df_weekly_sum)

df_monthly_mean = df_ts.resample('M').mean()
print("\nMonthly mean:\n", df_monthly_mean)

Weekly sum:
             Value
2023-01-01     17
2023-01-08    137
2023-01-15     54

Monthly mean:
             Value
2023-01-31   20.8

C:\Users\bbuser\AppData\Local\Temp\ipykernel_18004\2937456712.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_monthly_mean = df_ts.resample('M').mean()