In [40]:
import numpy as np
import pandas as pd

In [41]:
np.random.seed(0)

In [42]:
base_revenue = 1000

In [43]:
revenue_fluctuation = np.random.randn(30) * 200

In [44]:
sales_revenue = base_revenue + revenue_fluctuation

In [45]:
sales_revenue = np.maximum(sales_revenue, 0)

In [46]:
avg_price = 20
units_base = sales_revenue / avg_price
units_fluctuation = np.random.randn(30) * 2
units_sold = units_base + units_fluctuation

In [47]:
units_sold = np.maximum(units_sold, 0)
units_sold = np.round(units_sold).astype(int)

In [48]:
data = np.column_stack((sales_revenue, units_sold))

In [49]:
total_revenue = sales_revenue.sum()

In [50]:
avg_units = units_sold.mean()

In [51]:
max_revenue = sales_revenue.max()

In [52]:
max_day = sales_revenue.argmax()

In [53]:
total_units = units_sold.sum()
avg_revenue_per_unit = total_revenue / total_units

In [54]:
high_revenue_days = np.sum(sales_revenue > 1200)

In [55]:
low_units_avg = units_sold[sales_revenue < 900].mean()

In [56]:
week1 = sales_revenue[0:7].sum()
week2 = sales_revenue[7:14].sum()
week3 = sales_revenue[14:21].sum()
week4 = sales_revenue[21:28].sum()

In [57]:
print("Total revenue:", round(total_revenue, 2))

Total revenue: 32657.14

In [58]:
print("Average units sold per day:", round(avg_units, 2))

Average units sold per day: 53.87

In [59]:
print("Maximum daily revenue:", round(max_revenue, 2), "on day", max_day)

Maximum daily revenue: 1453.95 on day 24

In [60]:
print("Average revenue per unit sold:", round(avg_revenue_per_unit, 2))

Average revenue per unit sold: 20.21

In [61]:
print("Days with revenue > 1200:", high_revenue_days)

Days with revenue > 1200: 8

In [62]:
print("Average units sold when revenue < 900:", round(low_units_avg, 2))

Average units sold when revenue < 900: 36.2

In [73]:
print("Week 1 revenue:", round(week1, 2))

Week 1 revenue: 8444.84

In [74]:
print("Week 2 revenue:", round(week2, 2))

Week 2 revenue: 7527.41

In [75]:
print("Week 3 revenue:", round(week3, 2))

Week 3 revenue: 6794.49

In [76]:
print("Week 4 revenue:", round(week4, 2))

Week 4 revenue: 7289.97