In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = "Data/train.csv"
features = "Data/features.csv"
stores = "Data/stores.csv"

df_train = pd.read_csv(train)
df_features = pd.read_csv(features)
df_stores = pd.read_csv(stores)

In [47]:
df_train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [12]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [13]:
df_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

## 1- Basic EDA using:
1- .info()
2- describe()
3- isnull().sum()
4-value_count()

In [22]:

print(df_train.info(), "\n----------------------")
print(df_train.describe(), "\n----------------------")
print(df_train.isnull().sum(), "\n----------------------")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
None
----------------------
               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000
----------------------
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64
----------------------

In [23]:
print(df_features.info(), "\n----------------------")
print(df_features.describe(), "\n----------------------")
print(df_features.isnull().sum(), "\n----------------------")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB
None
----------------------
             Store  Temperature   Fuel_Price      MarkDown1      MarkDown2  \
count  8190.000000  8190.000000  8190.000000    4032.000000    2921.000000
mean     23.000000    59.356198     3.405992    7032.371786    3384.176594
std      12.987966    18.678607     0.431337    9262.747448    8793.583016
min       1.000000    -7.290000     2.472000   -2781.450000    -265.760000
25%      12.000000    45.902500     3.041000    1577.532500      68.880000
50%      23.000000    60.710000     3.513000    4743.580000     364.570000
75%      34.000000    73.880000     3.743000    8923.310000    2153.350000
max      45.000000   101.950000     4.468000  103184.980000  104519.540000

           MarkDown3     MarkDown4      MarkDown5          CPI  Unemployment
count    3613.000000   3464.000000    4050.000000  7605.000000   7605.000000
mean     1760.100180   3292.935886    4132.216422   172.460809      7.826821
std     11276.462208   6792.329861   13086.690278    39.738346      1.877259
min      -179.260000      0.220000    -185.170000   126.064000      3.684000
25%         6.600000    304.687500    1440.827500   132.364839      6.634000
50%        36.260000   1176.425000    2727.135000   182.764003      7.806000
75%       163.150000   3310.007500    4832.555000   213.932412      8.567000
max    149483.310000  67474.850000  771448.100000   228.976456     14.313000
----------------------
Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64
----------------------

In [25]:
print(df_stores.info(), "\n----------------------")
print(df_stores.describe(), "\n----------------------")
print(df_stores.isnull().sum(), "\n----------------------")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB
None
----------------------
           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000
----------------------
Store    0
Type     0
Size     0
dtype: int64
----------------------

In [37]:
df_train['Store'].value_counts()

Store
13    10474
10    10315
4     10272
1     10244
2     10238
24    10228
27    10225
34    10224
20    10214
6     10211
32    10202
19    10148
31    10142
28    10113
41    10088
11    10062
23    10050
14    10040
40    10017
15     9901
8      9895
39     9878
17     9864
18     9859
26     9854
25     9804
7      9762
12     9705
22     9688
45     9637
21     9582
35     9528
29     9455
16     9443
3      9036
5      8999
9      8867
38     7362
37     7206
44     7169
30     7156
42     6953
43     6751
33     6487
36     6222
Name: count, dtype: int64

## 2- Aggregation ---> groubby(): total sales by store or departmen

In [26]:
#Total sales per store
sales_by_store = df_train.groupby('Store')['Weekly_Sales'].sum().reset_index()
sales_by_store = sales_by_store.sort_values(by='Weekly_Sales', ascending=False)
print(sales_by_store.head())

    Store  Weekly_Sales
19     20  3.013978e+08
3       4  2.995440e+08
13     14  2.889999e+08
12     13  2.865177e+08
1       2  2.753824e+08

In [27]:
#Total sales per department
sales_by_dept = df_train.groupby('Dept')['Weekly_Sales'].sum().reset_index()
sales_by_dept = sales_by_dept.sort_values(by='Weekly_Sales', ascending=False)
print(sales_by_dept.head())

    Dept  Weekly_Sales
73    92  4.839433e+08
76    95  4.493202e+08
36    38  3.931181e+08
60    72  3.057252e+08
71    90  2.910685e+08

# 3-  Filtering

In [30]:

print(df_train['IsHoliday'].value_counts())


high_sales = df_train[df_train['Weekly_Sales'] > 50000]
print(high_sales.head())

IsHoliday
False    391909
True      29661
Name: count, dtype: int64
     Store  Dept        Date  Weekly_Sales  IsHoliday
8        1     1  2010-04-02      57258.43      False
46       1     1  2010-12-24      55931.23      False
63       1     1  2011-04-22      50510.31      False
106      1     1  2012-02-17      54060.10      False
113      1     1  2012-04-06      57592.12      False

# 4- Concatenating data

In [40]:
df_train_part1 = df_train.iloc[:100000]
df_train_part2 = df_train.iloc[100000:200000]


df_concat = pd.concat([df_train_part1, df_train_part2], axis=0)


df_concat = df_concat.reset_index(drop=True)

print(df_concat.shape)
print(df_concat.head())

(200000, 5)
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

# 5-Merging different datasets

In [39]:
merged_df = pd.merge(df_train, df_stores, on='Store', how='left')


merged_df = pd.merge(merged_df, df_features, on=['Store', 'Date'], how='left')

print(merged_df.head())

   Store  Dept        Date  Weekly_Sales  IsHoliday_x Type    Size  \
0      1     1  2010-02-05      24924.50        False    A  151315
1      1     1  2010-02-12      46039.49         True    A  151315
2      1     1  2010-02-19      41595.55        False    A  151315
3      1     1  2010-02-26      19403.54        False    A  151315
4      1     1  2010-03-05      21827.90        False    A  151315

   Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  \
0        42.31       2.572        NaN        NaN        NaN        NaN
1        38.51       2.548        NaN        NaN        NaN        NaN
2        39.93       2.514        NaN        NaN        NaN        NaN
3        46.63       2.561        NaN        NaN        NaN        NaN
4        46.50       2.625        NaN        NaN        NaN        NaN

   MarkDown5         CPI  Unemployment  IsHoliday_y
0        NaN  211.096358         8.106        False
1        NaN  211.242170         8.106         True
2        NaN  211.289143         8.106        False
3        NaN  211.319643         8.106        False
4        NaN  211.350143         8.106        False

# 6- join()

In [46]:
df_stores_indexed = df_stores.set_index('Store')


joined_df = df_train.join(df_stores_indexed, on='Store')

print(joined_df.head())

   Store  Dept        Date  Weekly_Sales  IsHoliday Type    Size
0      1     1  2010-02-05      24924.50      False    A  151315
1      1     1  2010-02-12      46039.49       True    A  151315
2      1     1  2010-02-19      41595.55      False    A  151315
3      1     1  2010-02-26      19403.54      False    A  151315
4      1     1  2010-03-05      21827.90      False    A  151315