## FLAT DATASET CLEANING

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('surat_uncleaned.csv')

## DATA PREPROCESSING

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4525 non-null   object
 2   square_feet     4525 non-null   object
 3   transaction     4421 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   object
dtypes: object(11)
memory usage: 389.0+ KB

In [4]:
df.head()

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,"₹3,551 per sqft",₹45.4 Lac
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,"₹3,800 per sqft",₹44.6 Lac
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,"₹3,966 per sqft",₹47 Lac
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,600 per sqft",₹45 Lac

In [5]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [6]:
df.duplicated().sum()

np.int64(109)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.isnull().sum()

property_name        0
areawithtype         0
square_feet          0
transaction        103
status               1
floor               45
furnishing         331
facing             563
description       1331
price_per_sqft     358
price                0
dtype: int64

In [9]:
df['transaction'].fillna(df['transaction'].mode())
df['status'].fillna(df['status'].mode())
df['floor'].fillna(df['floor'].mode)
df['furnishing'].fillna(df['furnishing'].mode())
df['facing'].fillna(df['facing'].mode())

0               West
1        South -West
2               East
3               East
4                  2
            ...
4520    South - East
4521    South - East
4522    North - East
4523    North - West
4524           North
Name: facing, Length: 4416, dtype: object

## Feature Engineering

In [10]:
df['unit_only'] = df['square_feet'].astype(str).str.replace(r'\d+', '', regex=True).str.strip()
unique_units = df['unit_only'].unique()
unique_units

array(['sqft', 'sqm', 'sqyrd', 'Resale', ', sqft', 'Ready to Move',
       'acre', 'rood', 'ground', ', sqm'], dtype=object)

In [11]:
units = ['sqft', 'sqm', 'sqyrd', 'acre', 'rood', 'ground']

for unit in units:
    df[unit] = df['square_feet'].str.extract(r'([\d,]+)\s*' + unit, expand=False)
    df[unit] = df[unit].str.replace(',', '').astype(float)

In [12]:
df

,property_name,areawithtype,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price,unit_only,sqft,sqm,sqyrd,acre,rood,ground
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac,sqft,644.0,NaN,NaN,NaN,NaN,NaN
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,"₹3,551 per sqft",₹45.4 Lac,sqft,1278.0,NaN,NaN,NaN,NaN,NaN
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,"₹3,800 per sqft",₹44.6 Lac,sqft,1173.0,NaN,NaN,NaN,NaN,NaN
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,"₹3,966 per sqft",₹47 Lac,sqft,700.0,NaN,NaN,NaN,NaN,NaN
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,600 per sqft",₹45 Lac,sqft,1250.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4520,6 BHK Apartment for Sale in Millionaires Lifes...,Carpet Area,2000 sqft,New Property,Poss. by Dec '26,5 out of 12,Unfurnished,South - East,"Check out Millionaires Lifestyle in Vesu, one ...",NaN,Call for Price,sqft,2000.0,NaN,NaN,NaN,NaN,NaN
4521,"4 BHK Apartment for Sale in Savan Superia, Alt...",Super Area,3600 sqft,New Property,Poss. by Dec '25,5 out of 16,Unfurnished,South - East,Superia is a premium residential project launc...,NaN,Call for Price,sqft,3600.0,NaN,NaN,NaN,NaN,NaN
4522,5 BHK Apartment for Sale in Roongta Green Vall...,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,"When it comes to beautiful homes, nothing beat...",NaN,Call for Price,sqft,2250.0,NaN,NaN,NaN,NaN,NaN
4523,"6 BHK Apartment for Sale in Cellestial Dreams,...",Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,"DRB Ravani Cellestial Dreams in Vesu, Surat is...",NaN,Call for Price,sqft,3450.0,NaN,NaN,NaN,NaN,NaN
4524,4 BHK Apartment for Sale in Roongta Green Vall...,Super Area,4500 sqft,New Property,Ready to Move,3 out of 12,Unfurnished,North,Roongta Green Valley is one of the popular res...,NaN,Call for Price,sqft,4500.0,NaN,NaN,NaN,NaN,NaN

In [13]:
df['acre'].unique()

array([nan, 90.])

In [14]:
UNIT_CONVERSION = {
    'sqft': 1,
    'sqm': 10.764,
    'sqyrd': 9,
    'acre': 43560,
    'rood': 10890,
    'ground': 2400
}


df['cleaned'] = df['square_feet'].str.replace(',', '').str.strip()


pattern = r'(?P<value>\d+\.?\d*)\s*(?P<unit>' + '|'.join(UNIT_CONVERSION.keys()) + ')?$'
extracted = df['cleaned'].str.extract(pattern)
extracted['value'] = extracted['value'].astype(float)


df['total_sqft'] = np.nan

for unit in UNIT_CONVERSION:
    mask = extracted['unit'] == unit
    df.loc[mask, 'total_sqft'] = extracted.loc[mask, 'value'] * UNIT_CONVERSION[unit]

no_unit_mask = extracted['unit'].isna() & extracted['value'].notna()
df.loc[no_unit_mask, 'total_sqft'] = extracted.loc[no_unit_mask, 'value']

df = df.drop(['cleaned'], axis=1)

print(df[['square_feet', 'total_sqft']])

     square_feet  total_sqft
0       644 sqft       644.0
1      1278 sqft      1278.0
2      1173 sqft      1173.0
3       700 sqft       700.0
4      1250 sqft      1250.0
...          ...         ...
4520   2000 sqft      2000.0
4521   3600 sqft      3600.0
4522   2250 sqft      2250.0
4523   3450 sqft      3450.0
4524   4500 sqft      4500.0

[4416 rows x 2 columns]

In [15]:
columns_to_drop = ['sqft','sqm', 'sqyrd', 'acre', 'rood', 'ground', 'unit_only', 'description']
df = df.drop(columns=columns_to_drop)
df = df.drop(columns=['cleaned', 'value', 'unit'], errors='ignore')

In [16]:
df['property_name'].unique()

array(['2 BHK Apartment for Sale in Dindoli Surat',
       '2 BHK Apartment for Sale in Althan Surat',
       '2 BHK Apartment for Sale in Pal Gam Surat', ...,
       '5 BHK Apartment for Sale in Sangini Arise, Bharthana Surat',
       '5 BHK Apartment for Sale in D and M Elysium Avenue, Piplod Surat',
       '6 BHK Apartment for Sale in Millionaires Lifestyle, Vesu Surat'],
      shape=(1992,), dtype=object)

In [17]:
df['bhk'] = df['property_name'].str.extract(r'(\d+)\s*BHK').astype(float)
df = df.drop(columns=['property_name'])
print(df['bhk'].value_counts().sort_index())

bhk
1.0      337
2.0     1142
3.0     1443
4.0      644
5.0      181
6.0       39
7.0        8
8.0        6
9.0        1
10.0       2
Name: count, dtype: int64

In [18]:
df

,areawithtype,square_feet,transaction,status,floor,furnishing,facing,price_per_sqft,price,total_sqft,bhk
0,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"₹2,891 per sqft",₹33.8 Lac,644.0,2.0
1,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,"₹3,551 per sqft",₹45.4 Lac,1278.0,2.0
2,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,"₹3,800 per sqft",₹44.6 Lac,1173.0,2.0
3,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,"₹3,966 per sqft",₹47 Lac,700.0,2.0
4,Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"₹3,600 per sqft",₹45 Lac,1250.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
4520,Carpet Area,2000 sqft,New Property,Poss. by Dec '26,5 out of 12,Unfurnished,South - East,NaN,Call for Price,2000.0,6.0
4521,Super Area,3600 sqft,New Property,Poss. by Dec '25,5 out of 16,Unfurnished,South - East,NaN,Call for Price,3600.0,4.0
4522,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,NaN,Call for Price,2250.0,5.0
4523,Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,NaN,Call for Price,3450.0,6.0
4524,Super Area,4500 sqft,New Property,Ready to Move,3 out of 12,Unfurnished,North,NaN,Call for Price,4500.0,4.0

In [19]:
df.isnull().sum()

areawithtype        0
square_feet         0
transaction       103
status              1
floor              45
furnishing        331
facing            563
price_per_sqft    358
price               0
total_sqft          6
bhk               613
dtype: int64

In [20]:
print(df['areawithtype'].value_counts())

areawithtype
Super Area     2542
Carpet Area    1626
Plot Area       207
Built Area       35
Status            4
Transaction       2
Name: count, dtype: int64

In [21]:
valid_areas = ['Super Area', 'Carpet Area', 'Plot Area', 'Built Area']
incorrect_mask = ~df['areawithtype'].isin(valid_areas)
correct_mode = df.loc[~incorrect_mask, 'areawithtype'].mode()[0]
df.loc[incorrect_mask, 'areawithtype'] = correct_mode
print("Cleaned 'areawithtype' counts:")
print(df['areawithtype'].value_counts())

Cleaned 'areawithtype' counts:
areawithtype
Super Area     2548
Carpet Area    1626
Plot Area       207
Built Area       35
Name: count, dtype: int64

In [22]:
print(df['square_feet'].value_counts())

square_feet
1000 sqft    74
800 sqft     63
1100 sqft    62
1200 sqft    54
700 sqft     53
             ..
9222 sqft     1
2338 sqft     1
2090 sqft     1
2309 sqft     1
5701 sqft     1
Name: count, Length: 1399, dtype: int64

In [23]:
ready_to_move_mask = df['square_feet'] == 'Ready to Move'
resale_mask = df['square_feet'] == 'Resale'

df.loc[ready_to_move_mask, 'status'] = 'Ready to Move'
df.loc[resale_mask, 'transaction'] = 'Resale'

df.loc[ready_to_move_mask | resale_mask, 'square_feet'] = None

print("Moved 'Ready to Move' count:", ready_to_move_mask.sum())
print("Moved 'Resale' count:", resale_mask.sum())
print("\nRemaining square_feet values:", df['square_feet'].unique())

Moved 'Ready to Move' count: 4
Moved 'Resale' count: 2

Remaining square_feet values: ['644 sqft' '1278 sqft' '1173 sqft' ... '2545 sqft' '5175 sqft'
 '2620 sqft']

In [24]:
df.drop(columns=['square_feet'], inplace=True)

In [25]:
print(df['transaction'].value_counts())

transaction
Resale                          2131
New Property                    1471
Unfurnished                      398
Semi-Furnished                    82
Furnished                         66
2                                 23
3                                 21
No                                19
Congo                             17
1                                 16
Yes                               15
5                                 10
4                                  7
Main Road                          5
Soham Elegance                     3
Orchid Gardenia                    3
6                                  3
Orchid Fantasia                    2
Jolly Residency                    2
Raghuvir Silverstone               2
Casa Rivera                        2
Main Road, Garden/Park             1
1 Covered                          1
Other                              1
10 m                               1
Shagun Residency                   1
Mahavir Nagar                      1
3 Covered                          1
Sundaram Residency                 1
Garden/Park                        1
Green City                         1
Mangalam Heights                   1
Aakash Echo Point                  1
Pool, Garden/Park, Main Road       1
Vatsalya Bungalows                 1
Co-operative Society               1
20 Covered,                        1
8 m                                1
Name: count, dtype: int64

In [26]:
swap_values = ['New Property', 'Resale']
cols_to_check = ['transaction', 'floor', 'furnishing', 'facing']

for col in cols_to_check:
    swap_mask = df[col].isin(swap_values)
    df.loc[swap_mask, ['status', col]] = df.loc[swap_mask, [col, 'status']].values
    
print("Swapped counts per column:")
for col in cols_to_check:
    count = df[col].isin(swap_values).sum()
    print(f"{col}: {count} remaining swap values (should be 0)")

Swapped counts per column:
transaction: 0 remaining swap values (should be 0)
floor: 0 remaining swap values (should be 0)
furnishing: 0 remaining swap values (should be 0)
facing: 0 remaining swap values (should be 0)

In [27]:
print(df['status'].value_counts())

status
Resale                         2635
New Property                   1759
Ready to Move                    21
Const. Age New Construction       1
Name: count, dtype: int64

In [28]:
ready_mask = (
    (df['status'] == 'Ready to Move') |
    (df['floor'] == 'Ready to Move') |
    (df['furnishing'] == 'Ready to Move') |
    (df['facing'] == 'Ready to Move')
)

poss_mask = (
    df['status'].str.contains('Poss. by', na=False) |
    df['floor'].str.contains('Poss. by', na=False) |
    df['furnishing'].str.contains('Poss. by', na=False) |
    df['facing'].str.contains('Poss. by', na=False)
)

swap_mask = ready_mask | poss_mask

cols_to_check = ['status', 'floor', 'furnishing', 'facing']
for col in cols_to_check:

    col_mask = (
        (df[col] == 'Ready to Move') | 
        (df[col].str.contains('Poss. by', na=False))
    )
    df.loc[col_mask, ['transaction', col]] = df.loc[col_mask, [col, 'transaction']].values

In [29]:
target_cols = ['status', 'transaction', 'furnishing', 'facing']

swap_mask = df[target_cols].apply(
    lambda x: x.str.contains('out of|Basement', case=False, na=False, regex=True)
).any(axis=1)

for col in target_cols:
    df.loc[swap_mask, ['floor', col]] = df.loc[swap_mask, [col, 'floor']].values

In [30]:
df['floor'].unique()

array(['5 out of 10', '6 out of 14', '5 out of 13', 'Unfurnished',
       '7 out of 10', '3 out of 14', '6 out of 13', '1 out of 1',
       '1 out of 13', '4 out of 7', '3 out of 3', '2 out of 6',
       '3 out of 5', '2 out of 5', '3 out of 12', '5 out of 5',
       '1 out of 7', 'Ground out of 1', 'Lower Basement out of 7',
       '1 out of 5', '7 out of 14', '9 out of 14', '5 out of 12',
       '7 out of 13', 'Freehold', '1 out of 2', '2 out of 10',
       '12 out of 14', '10 out of 14', '2 out of 12', '1 out of 4',
       '13 out of 14', '4 out of 14', '6 out of 10', '2 out of 4',
       '3 out of 4', '3 out of 10', '9 out of 13',
       'Upper Basement out of 5', '1 out of 3', '4 out of 4',
       'Ground out of 2', 'Lower Basement out of 2', 'Ground out of 4',
       nan, 'Ground out of 5', '4 out of 10', 'Ground out of 14',
       'Ground out of 6', '5 out of 6', '8 out of 9', '4 out of 5',
       '2 out of 7', '7 out of 7', 'Ground out of 3', '4 out of 8',
       'Co-operative Society', 'Semi-Furnished', '8 out of 14',
       '6 out of 7', '7 out of 11', 'Upper Basement out of 4',
       'Furnished', 'Congo', '3', '2 out of 3', '3 out of 7', 'Ground',
       '1 out of 6', '9 out of 11', '14 out of 14', '5 out of 14',
       '1 out of 8', '5 out of 7', '8 out of 12', 'Ground out of 10',
       '2 out of 2', '7 out of 12', '3 out of 6', '1 out of 12',
       '16 out of 19', '13 out of 13', '6 out of 8', 'Mahavir Nagar',
       '8 out of 8', '3 out of 9', '11 out of 12', '6 out of 12',
       '8 out of 13', '11 out of 11', 'Shagun Residency', '4 out of 6',
       '1', '2 out of 13', '1 out of 9', '1 out of 10',
       'Upper Basement out of 14', '2', '5 out of 8', '10 out of 12',
       '6 out of 9', '4 out of 13', '11 out of 15', 'No', '10 out of 10',
       'Ground out of 7', '3 out of 11', 'Yes',
       'Lower Basement out of 59', '6 out of 11', '4 out of 15',
       '11 out of 13', 'Lower Basement out of 4',
       'Upper Basement out of 12', 'Upper Basement out of 1',
       '10 out of 13', '7 out of 9', '4 out of 9', '3 out of 8',
       'Lower Basement out of 5', '4 out of 12', '20 X 40',
       '10 out of 11', 'Ground out of 11', '7 out of 8', 'Other',
       '1 out of 11', '9 out of 10', '11 out of 14', '5 out of 11',
       'Lower Basement out of 6', '9 out of 9', 'Ground out of 13',
       '54 X 15', '2 out of 8', 'The Polaris Avenue', '4 out of 11',
       '12 out of 13', '8 out of 10', '4 out of 19', 'Power Of Attorney',
       '5 out of 15', '15 out of 19', '3 out of 13', '9 out of 12',
       '7 out of 19', '2 out of 14', '10 out of 19',
       'Lower Basement out of 14', '6 out of 15', '6 out of 19',
       '2 out of 11', '9 out of 19', '9 out of 15', '18 out of 19',
       '45 X 40', '1 out of 30', '1 out of 15', '10 out of 20',
       '13 out of 15', '1 out of 14', '20 out of 21', '8 out of 19',
       'Om Residency', '8 out of 11', 'Aakash Echo Point',
       'Sundaram Residency', '114 X 14', 'Jolly Residency', '7 out of 15',
       '5 out of 9', '12 out of 12', 'Mangalam Heights', '11 out of 20',
       '2 out of 9', '14 out of 15', '60 X 28', 'Green City',
       '13.3 X 135', '15 out of 21', '12 out of 15', '15 out of 15',
       '8 out of 15', '16.7 X 240', '10 out of 15', '13 out of 19',
       '10 out of 21', '3 out of 15', '14 out of 19', '2 out of 15',
       '9 out of 20', '8 out of 20', '18 out of 21', 'Ground out of 8',
       '6 out of 6', 'Milestone Regalia', '52.5 X 26.1', '5 out of 20',
       '15 out of 18', '5 out of 19', '5 out of 16', '17 out of 20',
       '5 out of 18', '15 out of 20', 'Lower Basement out of 1',
       '10 out of 18', '7 out of 20', '17 out of 18', '7 out of 17', '5',
       '9 out of 25', '6 out of 20', '6 out of 18', 'Vatsalya Bungalows',
       'Upper Basement out of 3', '6', '20 Covered,', '4 out of 18',
       '9 out of 21', '4 out of 21', '19 out of 19', '17 out of 19',
       '7 out of 18', '20 out of 20', '4 out of 20', '9 out of 18',
       '144 X 126', 'Ground out of 12', '3 out of 18', 'Ground out of 19',
       '16 out of 20', '2 out of 19', '16 out of 18', '12 out of 19',
       '3 out of 19', '3 out of 20', '1 out of 20', '2 out of 17',
       '9 out of 17', '14 out of 20', '1 out of 18'], dtype=object)

In [31]:
swap_values = ['Unfurnished', 'Furnished', 'Semi-Furnished']
cols_to_check = ['transaction', 'floor', 'status', 'facing']

for col in cols_to_check:
    swap_mask = df[col].isin(swap_values)
    df.loc[swap_mask, ['furnishing', col]] = df.loc[swap_mask, [col, 'furnishing']].values

In [32]:
df['furnishing'].unique()

array(['Unfurnished', 'Semi-Furnished', '1', 'Furnished', nan, '2', '3',
       '1 Covered,', '2 Covered', '1 Covered', '26 Covered', 'No', '6',
       '> 10', '4', '10 Open', '5 Covered,', '7 m', '30 m', '50 Covered,',
       'Main Road', '1 Open', '12 m', 'Yes', '2 Covered,', 'Congo',
       'Vaishnodevi Ideal Homes', '100 Covered', 'West', '5 Covered', '5',
       '50 Open', '20 m', '20 Open', '10 m', '3 Covered', '2 Open', '6 m',
       '15 m', '10 Covered,'], dtype=object)

In [33]:
df['facing'].unique()

array(['West', 'South -West', 'East', '2', 'Main Road', nan,
       'North - East', 'South - East', '1', 'Freehold', 'Garden/Park',
       '3', 'North - West', 'South', '6', 'Co-operative Society',
       'Garden/Park, Main Road', '1 Covered', 'No', '30 m', 'North',
       'Varni Siddheshwar Heights', '5', 'Salasar Icon', 'Green Valley',
       'Shyam enclave', 'Rajhans Platinum', 'Vitthal Bunglows', '1 Open',
       'Royal Nest', 'Rajhans Wings', '2 Open',
       'Gordhan Green Valley Mangalam Park Bldg S',
       'Apt Swaminagar Society', 'Swagat Clifton', 'Akash',
       'Green Arcade Phase 1 And 2', 'Satyam Tower', '4',
       'Suryanjali Residency', 'GHB Mukhya Mantri Gruh Yojana',
       'Vibrant Eco Park', 'Madhav Residency', 'Shiv Drashti Residency',
       'Gruham Luxuria', 'SHANKHESHWER COMPLAX', 'JT Stuti Highland',
       'Times Galaxy', '100 m', 'Savani Prayosha Pride',
       'Shayona Janki Residency', 'Sundaram Residency', '6 m',
       'Silicon Palm', 'Raj Abhishek City Homes',
       'Dhvani Royal Residency', 'Residency', 'Pan Sharanam',
       'Gruham Royal Park', 'Rajhans Swapna', 'Panchtatva Residency',
       'Manvay Residency', 'Prayosha Shine', 'Yes',
       'Swapna Villa 2 Phase 2', 'Green City', 'Rajhans Apple',
       'Sai Residency', 'Anjani Enclave', 'Shakuntal Complex',
       '2 Covered', 'Galaxy Imperia', 'Pool, Garden/Park, Main Road',
       'Silver Plaza Complex', 'Swami Twin City 5', 'Majura Gate Surat',
       'Orchid Greens', 'Aditya Vrundavan Heights', 'Pool', '900 m',
       'Vaishnodevi Amour Jahagirabad', 'Shantam Apartment',
       'Siddhi Vinayak Green', '20 m', 'Ambika Heaven', '10 m',
       'MD Om Palace', 'Global City', 'Maa Krupa Residency Society',
       'Man Sarovar Residency and Plaza', 'Bella Casaa',
       'Shree Tirupati Balaji Town', 'Aagam Navkar', 'Omkar Residency',
       'Nova Complex', '25 m', 'Amber Palace', '1 Covered,',
       'Vaishnodevi Ideal Homes', '7 m', '45 X 14 ft Sqft',
       'Santvan Lexon', 'Atlanta Sky Desk', 'Nakshatra Platinum',
       'Siddhi Vinayak Heights', 'Coral Heights', 'Aakash Homes',
       'Nandini 3', 'Sundaram Status', 'Happy Elegance',
       'Dream World Residency', 'Raghuvir Saffron',
       'Vasant Vihar Township', 'Kalpavruksha Garden', 'Ashirwad Enclave',
       'Jolly Residency', '9', 'Stylome Heights', 'Marvella Residency',
       'Meera Avenue', 'Garden/Park, Pool', 'Rajhans Orange',
       'Rajhans Synfonia', 'Sat Aria', 'Lake Castle',
       'Raghuvir Sentosa Heights', 'Shalibhadra Complex',
       'Shiv Shrungal Solitaire', 'Sangini Gardenia', 'Green Leaf',
       'Pooja Aagam Cross Roads', '7', 'Nakshatra Nebula', 'Peak Living',
       'Prasidhi Apartment', 'Nandini 1', 'Soham Residency',
       'Pool, Garden/Park', 'Shreepad Ethics', '15 m', '12 m',
       'Eco Parkside', 'Garden/Park, Pool, Main Road', '2 m',
       'Santvan Seron', 'Nakshatra Galaxia', '150 m', 'Oliva Height',
       'Mahaveer Nagar', '4 m', 'Shreepad Infinia', 'Bilvam Regency',
       'Palladium Sky', '3 Covered', 'Prestige manor', 'Green City Gold',
       'Meera Park', 'Aagam Paramount', 'Sumeru Golden Leaf',
       'Avadh Shangrila', '45 X', 'Rajhans Cremona',
       'Atithi Western Oasis', 'Harmony', 'Cellestial Dreams',
       'Nandanvan III', 'aventis ofira', 'Samarth Enclave',
       'Happy Home Capital Greens', 'Shaligram The Emerald', '135 X',
       '131 X', 'Vesu Point', '8 m', '1 m', 'Power Of Attorney',
       '20275 m'], dtype=object)

In [34]:
allowed_values = {
    'areawithtype': ['Super Area', 'Carpet Area', 'Plot Area', 'Built Area'],
    'transaction': ['Ready to Move'] + df['transaction'][df['transaction'].str.contains('Poss. by', na=False)].tolist(),
    'status': ['New Property', 'Resale'],
    'floor': df['floor'][df['floor'].str.contains('out of|Basement', na=False, regex=True)].tolist(),
    'furnishing': ['Unfurnished', 'Furnished', 'Semi-Furnished']
}

for col, valid in allowed_values.items():
    if col == 'facing': 
        continue

    invalid_mask = ~df[col].isin(valid)

    df.loc[invalid_mask, ['facing', col]] = df.loc[invalid_mask, [col, 'facing']].values

In [35]:
df['facing'] = df['facing'].astype(str)

contains_numbers = df['facing'].str.contains(r'\d', regex=True)

non_numeric = df[~contains_numbers]['facing']
facing_mode = non_numeric.mode()[0] if not non_numeric.empty else 'Unknown'

df.loc[contains_numbers, 'facing'] = facing_mode


print(f"Replaced {contains_numbers.sum()} entries containing numbers with mode: '{facing_mode}'")
print("\nCleaned 'facing' values:")
print(df['facing'].unique())

Replaced 1027 entries containing numbers with mode: 'East'

Cleaned 'facing' values:
['West' 'South -West' 'East' 'Anand Aspire' 'North - East' 'South - East'
 'nan' 'Main Road' 'North - West' 'Freehold' 'South'
 'Co-operative Society' 'Garden/Park, Main Road' 'Garden/Park' 'No'
 'North' 'Varni Siddheshwar Heights' 'Salasar Icon' 'Green Valley'
 'Shyam enclave' 'Rajhans Platinum' 'Vitthal Bunglows' 'Royal Nest'
 'Rajhans Wings' 'Gordhan Green Valley Mangalam Park Bldg S'
 'Apt Swaminagar Society' 'Swagat Clifton' 'Satyam Tower'
 'Suryanjali Residency' 'GHB Mukhya Mantri Gruh Yojana' 'Madhav Residency'
 'Shiv Drashti Residency' 'Gruham Luxuria' 'SHANKHESHWER COMPLAX'
 'JT Stuti Highland' 'Times Galaxy' 'Savani Prayosha Pride'
 'Nilkanth Seven Homes' 'Shayona Janki Residency' 'Sundaram Residency'
 'Silicon Palm' 'Aagam Navkar' 'Raj Abhishek City Homes'
 'Dhvani Royal Residency' 'Residency' 'Vinayak Enclave' 'Pan Sharanam'
 'Pool, Garden/Park, Main Road' 'Rajhans Swapna' 'Panchtatva Residency'
 'Manvay Residency' 'Green City' 'Rajhans Apple' 'Sai Residency'
 'Anjani Enclave' 'Shakuntal Complex' 'Galaxy Imperia' 'Other'
 'Silver Plaza Complex' 'Majura Gate Surat' 'Orchid Greens'
 'Aditya Vrundavan Heights' 'Vaishnodevi Amour Jahagirabad'
 'Shantam Apartment' 'Siddhi Vinayak Green' 'Yes' 'Ambika Heaven'
 'MD Om Palace' 'Global City' 'Maa Krupa Residency Society'
 'Man Sarovar Residency and Plaza' 'Bella Casaa'
 'Shree Tirupati Balaji Town' 'Omkar Residency' 'Nova Complex' 'Congo'
 'Amber Palace' 'Prayosha Shine' 'Vaishnodevi Ideal Homes' 'Santvan Lexon'
 'Sangini Epitome' 'Atlanta Sky Desk' 'Nakshatra Platinum'
 'Siddhi Vinayak Heights' 'Coral Heights' 'Aakash Homes'
 'Nirvana Gladiolus' 'Sundaram Status' 'Happy Elegance'
 'Dream World Residency' 'Raghuvir Saffron' 'Vasant Vihar Township'
 'Kalpavruksha Garden' 'Ashirwad Enclave' 'Jolly Residency'
 'Stylome Heights' 'Raghuvir Spalex' 'Marvella Residency' 'Meera Avenue'
 'Garden/Park, Pool' 'Rajhans Orange' 'Rajhans Synfonia' 'Sat Aria'
 'Lake Castle' 'Raghuvir Sentosa Heights' 'Shalibhadra Complex'
 'Shiv Shrungal Solitaire' 'Sangini Gardenia' 'Green Leaf'
 'Pooja Aagam Cross Roads' 'Nakshatra Nebula' 'Peak Living'
 'Prasidhi Apartment' 'Soham Residency' 'Pool, Garden/Park'
 'Shreepad Ethics' 'Sattvam' 'Pramukh Amaya' 'Sun Sarvam' 'Eco Parkside'
 'Nakshatra Galaxia' 'Avadh Kimberly' 'Oliva Height' 'Mahaveer Nagar'
 'Shreepad Infinia' 'Bilvam Regency' 'Palladium Sky' 'Prestige manor'
 'Green City Gold' 'Happy Glorious' 'Meera Park' 'Aagam Paramount'
 'Sumeru Golden Leaf' 'DMD Aura' 'Freedom Tower' 'Rajhans Cremona'
 'Surya Signature' 'Atithi Western Oasis' 'Someshwara Enclave' 'Harmony'
 'Green Valley Row House' 'Cellestial Dreams' 'Nandanvan III'
 'Samarth Enclave' 'Garden/Park, Pool, Main Road'
 'Happy Home Capital Greens' 'Shaligram The Emerald' 'Vatsalya Bungalows'
 'DMD Signus' 'Vesu Point' 'Ambience' 'Milestone Pristine'
 'Bblossom The Presidency']

In [36]:
valid_directions = [
    'East', 'South -West', 'North - East', 'West', 
    'North', 'South - East', 'South', 'North - West'
]


df['facing'] = df['facing'].str.strip()

facing_mode = df[df['facing'].isin(valid_directions)]['facing'].mode()[0]

invalid_mask = ~df['facing'].isin(valid_directions)
df.loc[invalid_mask, 'facing'] = facing_mode

print(f"Replaced {invalid_mask.sum()} invalid entries with mode: '{facing_mode}'")
print("\nFinal facing distribution:")
print(df['facing'].value_counts())

Replaced 739 invalid entries with mode: 'East'

Final facing distribution:
facing
East            3475
South -West      358
North - East     245
West             108
North            107
South - East      56
South             40
North - West      27
Name: count, dtype: int64

In [37]:

def extract_components(s):
    if pd.isna(s) or not str(s).strip():
        return (None, None, None)
    
    s = str(s).strip()
    
    currency_pattern = r'^([₹$€£¥₽₩₤₭֏؋ƒ₡₢₣₤₥₦₧₨₩₪₫₭₮₯₰₱₲₳₴₵₶₷₸₹₺₼₽₾₿ℳ元円圆圓﷼¤]|CA\$|US\$|A\$|C\$)'
    currency = re.match(currency_pattern, s)
    currency = currency.group(1) if currency else None

    value = re.search(r'([0-9,\.]+)', s.replace(' ', ''))
    value = value.group(1).replace(',', '') if value else None
    
    unit_pattern = r'(?:per\s*(?:sq|square)\s*[\.\-\s]*(?:ft|foot|feet|meter|m|m²|m2)|psf|pm|psm)'
    unit = re.search(unit_pattern, s, re.IGNORECASE)
    unit = unit.group().lower() if unit else None
    
    return (currency, value, unit)


components = df['price_per_sqft'].apply(extract_components)
df[['currency', 'numeric_value', 'unit']] = pd.DataFrame(components.tolist(), index=df.index)

df['price_sqft'] = pd.to_numeric(df['numeric_value'], errors='coerce')

unit_map = {
    'per sq.ft.': 'per sqft',
    'per square foot': 'per sqft',
    'psf': 'per sqft',
    'per sqm': 'per sqm',
    'per square meter': 'per sqm',
    'psm': 'per sqm',
    'pm': 'per sqm'
}
df['unit'] = df['unit'].map(unit_map)

In [38]:
df

,areawithtype,transaction,status,floor,furnishing,facing,price_per_sqft,price,total_sqft,bhk,currency,numeric_value,unit,price_sqft
0,Carpet Area,Poss. by Oct '24,New Property,5 out of 10,Unfurnished,West,"₹2,891 per sqft",₹33.8 Lac,644.0,2.0,₹,2891,NaN,2891.0
1,Super Area,Poss. by Jan '26,New Property,6 out of 14,Unfurnished,South -West,"₹3,551 per sqft",₹45.4 Lac,1278.0,2.0,₹,3551,NaN,3551.0
2,Super Area,Ready to Move,Resale,5 out of 13,Semi-Furnished,East,"₹3,800 per sqft",₹44.6 Lac,1173.0,2.0,₹,3800,NaN,3800.0
3,Carpet Area,Ready to Move,New Property,6 out of 14,Unfurnished,East,"₹3,966 per sqft",₹47 Lac,700.0,2.0,₹,3966,NaN,3966.0
4,Super Area,2,New Property,Orchid Fantasia,Unfurnished,East,"₹3,600 per sqft",₹45 Lac,1250.0,2.0,₹,3600,NaN,3600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4520,Carpet Area,Poss. by Dec '26,New Property,5 out of 12,Unfurnished,South - East,NaN,Call for Price,2000.0,6.0,None,None,NaN,NaN
4521,Super Area,Poss. by Dec '25,New Property,5 out of 16,Unfurnished,South - East,NaN,Call for Price,3600.0,4.0,None,None,NaN,NaN
4522,Carpet Area,Poss. by Dec '25,New Property,7 out of 13,Unfurnished,North - East,NaN,Call for Price,2250.0,5.0,None,None,NaN,NaN
4523,Carpet Area,Ready to Move,New Property,7 out of 18,Unfurnished,North - West,NaN,Call for Price,3450.0,6.0,None,None,NaN,NaN
4524,Super Area,Ready to Move,New Property,3 out of 12,Unfurnished,North,NaN,Call for Price,4500.0,4.0,None,None,NaN,NaN

In [39]:
df.drop('price_per_sqft', axis=1, inplace=True)
df.drop('currency', axis=1, inplace=True)
df.drop('numeric_value', axis=1, inplace=True)
df.drop('unit', axis=1, inplace=True)

In [40]:
df

,areawithtype,transaction,status,floor,furnishing,facing,price,total_sqft,bhk,price_sqft
0,Carpet Area,Poss. by Oct '24,New Property,5 out of 10,Unfurnished,West,₹33.8 Lac,644.0,2.0,2891.0
1,Super Area,Poss. by Jan '26,New Property,6 out of 14,Unfurnished,South -West,₹45.4 Lac,1278.0,2.0,3551.0
2,Super Area,Ready to Move,Resale,5 out of 13,Semi-Furnished,East,₹44.6 Lac,1173.0,2.0,3800.0
3,Carpet Area,Ready to Move,New Property,6 out of 14,Unfurnished,East,₹47 Lac,700.0,2.0,3966.0
4,Super Area,2,New Property,Orchid Fantasia,Unfurnished,East,₹45 Lac,1250.0,2.0,3600.0
...,...,...,...,...,...,...,...,...,...,...
4520,Carpet Area,Poss. by Dec '26,New Property,5 out of 12,Unfurnished,South - East,Call for Price,2000.0,6.0,NaN
4521,Super Area,Poss. by Dec '25,New Property,5 out of 16,Unfurnished,South - East,Call for Price,3600.0,4.0,NaN
4522,Carpet Area,Poss. by Dec '25,New Property,7 out of 13,Unfurnished,North - East,Call for Price,2250.0,5.0,NaN
4523,Carpet Area,Ready to Move,New Property,7 out of 18,Unfurnished,North - West,Call for Price,3450.0,6.0,NaN
4524,Super Area,Ready to Move,New Property,3 out of 12,Unfurnished,North,Call for Price,4500.0,4.0,NaN

In [41]:
print(df['price'].value_counts())

price
Call for Price    172
₹35 Lac            79
₹65 Lac            73
₹45 Lac            70
₹40 Lac            69
                 ...
₹2.57 Cr            1
₹3.02 Cr            1
₹2.79 Cr            1
₹16.50 Cr           1
₹4.05 Cr            1
Name: count, Length: 841, dtype: int64

In [42]:
df['price'].unique()

array(['₹33.8 Lac ', '₹45.4 Lac ', '₹44.6 Lac ', '₹47 Lac ', '₹45 Lac ',
       '₹43.2 Lac ', '₹42.1 Lac ', '₹44.1 Lac ', '₹44.3 Lac ', '₹40 Lac ',
       '₹44 Lac ', '₹12.5 Lac ', '₹50 Lac ', '₹35.8 Lac ', '₹26.5 Lac ',
       '₹42 Lac ', '₹43 Lac ', '₹20 Lac ', '₹37 Lac ', '₹29 Lac ',
       '₹38 Lac ', '₹13 Lac ', '₹46.5 Lac ', '₹41.6 Lac ', '₹33.5 Lac ',
       '₹42.5 Lac ', '₹48 Lac ', '₹32 Lac ', '₹35 Lac ', '₹46.2 Lac ',
       '₹38.5 Lac ', '₹23 Lac ', '₹24 Lac ', '₹28 Lac ', '₹35.7 Lac ',
       '₹36.5 Lac ', '₹36 Lac ', '₹43.6 Lac ', '₹25 Lac ', '₹41 Lac ',
       '₹28.5 Lac ', '₹9 Lac ', '₹30 Lac ', '₹39.5 Lac ', '₹21.5 Lac ',
       '₹10.5 Lac ', '₹18 Lac ', '₹10 Lac ', '₹23.5 Lac ', '₹16.3 Lac ',
       '₹13.5 Lac ', '₹49 Lac ', '₹21 Lac ', '₹39 Lac ', '₹16 Lac ',
       '₹27 Lac ', '₹15 Lac ', '₹39.9 Lac ', '₹7.5 Lac ', '₹12.8 Lac ',
       '₹9.5 Lac ', '₹31.5 Lac ', '₹46 Lac ', '₹6 Lac ', '₹34 Lac ',
       '₹22 Lac ', '₹19 Lac ', '₹8.5 Lac ', '₹11 Lac ', '₹16.5 Lac ',
       '₹17 Lac ', '₹14 Lac ', '₹33 Lac ', '₹20.5 Lac ', '₹21.7 Lac ',
       '₹27.5 Lac ', '₹12 Lac ', '₹26 Lac ', '₹7.7 Lac ', '₹44.8 Lac ',
       '₹34.9 Lac ', '₹19.5 Lac ', '₹18.5 Lac ', '₹48.5 Lac ',
       '₹49.9 Lac ', '₹26.7 Lac ', '₹18.2 Lac ', '₹24.5 Lac ',
       '₹46.1 Lac ', '₹14.2 Lac ', '₹47.5 Lac ', '₹9.3 Lac ', '₹5 Lac ',
       '₹8.9 Lac ', '₹14.5 Lac ', '₹37.6 Lac ', '₹25.5 Lac ',
       '₹29.5 Lac ', '₹1.5 Lac ', '₹26.8 Lac ', '₹31 Lac ', '₹22.5 Lac ',
       '₹24.9 Lac ', '₹40.4 Lac ', '₹15.3 Lac ', '₹7 Lac ', '₹32.5 Lac ',
       '₹1 Lac ', '₹43.8 Lac ', '₹14.4 Lac ', '₹10.3 Lac ', '₹40.5 Lac ',
       '₹34.8 Lac ', '₹39.8 Lac ', '₹25.8 Lac ', '₹3.5 Lac ',
       '₹21.3 Lac ', '₹8 Lac ', '₹38.1 Lac ', '₹15.5 Lac ', '₹25.1 Lac ',
       '₹37.9 Lac ', '₹29.1 Lac ', '₹1.3 Lac ', '₹18.4 Lac ',
       '₹14.1 Lac ', '₹29.9 Lac ', '₹45.2 Lac ', '₹37.5 Lac ',
       '₹32.7 Lac ', '₹17.5 Lac ', '₹48.8 Lac ', '₹23.2 Lac ',
       '₹4.5 Lac ', '₹25.2 Lac ', '₹27.2 Lac ', 'Call for Price',
       '₹39.7 Lac ', '₹43.7 Lac ', '₹49.5 Lac ', '₹2 Lac ', '₹46.9 Lac ',
       '₹19.8 Lac ', '₹26.9 Lac ', '₹21.6 Lac ', '₹33.9 Lac ',
       '₹34.7 Lac ', '₹44.5 Lac ', '₹41.3 Lac ', '₹48.6 Lac ',
       '₹45.5 Lac ', '₹49.3 Lac ', '₹43.1 Lac ', '₹46.4 Lac ',
       '₹42.2 Lac ', '₹34.5 Lac ', '₹28.2 Lac ', '₹42.8 Lac ',
       '₹45.3 Lac ', '₹34.4 Lac ', '₹30.5 Lac ', '₹44.2 Lac ',
       '₹48.2 Lac ', '₹49.7 Lac ', '₹47.8 Lac ', '₹34.6 Lac ',
       '₹49.1 Lac ', '₹35.3 Lac ', '₹45.1 Lac ', '₹41.5 Lac ',
       '₹26.4 Lac ', '₹37.2 Lac ', '₹46.3 Lac ', '₹30.4 Lac ',
       '₹47.1 Lac ', '₹41.7 Lac ', '₹33.4 Lac ', '₹40.7 Lac ',
       '₹36.8 Lac ', '₹42.7 Lac ', '₹30.6 Lac ', '₹43.4 Lac ',
       '₹38.7 Lac ', '₹33.2 Lac ', '₹34.3 Lac ', '₹39.2 Lac ',
       '₹43.9 Lac ', '₹35.2 Lac ', '₹31.6 Lac ', '₹41.1 Lac ',
       '₹44.9 Lac ', '₹25.9 Lac ', '₹42.3 Lac ', '₹25.3 Lac ',
       '₹36.1 Lac ', '₹25.7 Lac ', '₹45.6 Lac ', '₹35.1 Lac ',
       '₹36.4 Lac ', '₹42.4 Lac ', '₹46.7 Lac ', '₹20.1 Lac ',
       '₹34.1 Lac ', '₹16.4 Lac ', '₹43.5 Lac ', '₹19.9 Lac ',
       '₹38.2 Lac ', '₹35.5 Lac ', '₹67.7 Lac ', '₹55.6 Lac ', '₹98 Lac ',
       '₹62.2 Lac ', '₹69.4 Lac ', '₹70 Lac ', '₹56.5 Lac ', '₹57.4 Lac ',
       '₹92.9 Lac ', '₹57.1 Lac ', '₹55.7 Lac ', '₹79.1 Lac ',
       '₹65.2 Lac ', '₹80.5 Lac ', '₹90 Lac ', '₹75 Lac ', '₹52 Lac ',
       '₹75.4 Lac ', '₹74.5 Lac ', '₹69.3 Lac ', '₹60 Lac ', '₹67.5 Lac ',
       '₹51.5 Lac ', '₹67.4 Lac ', '₹55 Lac ', '₹50.3 Lac ', '₹66.3 Lac ',
       '₹80 Lac ', '₹1 Cr ', '₹50.6 Lac ', '₹61 Lac ', '₹51 Lac ',
       '₹50.8 Lac ', '₹79 Lac ', '₹91 Lac ', '₹84.5 Lac ', '₹54 Lac ',
       '₹53.2 Lac ', '₹52.4 Lac ', '₹72 Lac ', '₹99 Lac ', '₹56 Lac ',
       '₹85 Lac ', '₹83.1 Lac ', '₹51.9 Lac ', '₹57 Lac ', '₹81 Lac ',
       '₹74 Lac ', '₹78.5 Lac ', '₹65 Lac ', '₹66.1 Lac ', '₹68 Lac ',
       '₹58 Lac ', '₹86 Lac ', '₹53.5 Lac ', '₹83 Lac ', '₹82 Lac ',
       '₹95 Lac ', '₹78 Lac ', '₹72.5 Lac ', '₹66.6 Lac ', '₹51.7 Lac ',
       '₹90.7 Lac ', '₹84 Lac ', '₹75.5 Lac ', '₹63 Lac ', '₹53 Lac ',
       '₹91.8 Lac ', '₹58.5 Lac ', '₹55.5 Lac ', '₹77 Lac ', '₹88 Lac ',
       '₹62 Lac ', '₹97 Lac ', '₹63.8 Lac ', '₹97.4 Lac ', '₹92 Lac ',
       '₹67 Lac ', '₹71 Lac ', '₹87 Lac ', '₹78.7 Lac ', '₹50.1 Lac ',
       '₹50.4 Lac ', '₹68.3 Lac ', '₹99.5 Lac ', '₹76 Lac ', '₹59.5 Lac ',
       '₹96 Lac ', '₹99.8 Lac ', '₹56.8 Lac ', '₹79.4 Lac ', '₹93 Lac ',
       '₹89 Lac ', '₹54.5 Lac ', '₹96.5 Lac ', '₹85.4 Lac ', '₹79.2 Lac ',
       '₹94 Lac ', '₹58.2 Lac ', '₹59.9 Lac ', '₹61.6 Lac ', '₹60.5 Lac ',
       '₹82.5 Lac ', '₹75.7 Lac ', '₹56.2 Lac ', '₹99.6 Lac ',
       '₹58.8 Lac ', '₹59.2 Lac ', '₹74.4 Lac ', '₹56.1 Lac ',
       '₹86.7 Lac ', '₹53.1 Lac ', '₹90.8 Lac ', '₹50.5 Lac ',
       '₹75.3 Lac ', '₹59 Lac ', '₹58.4 Lac ', '₹85.1 Lac ', '₹79.9 Lac ',
       '₹68.2 Lac ', '₹51.8 Lac ', '₹64.4 Lac ', '₹64 Lac ', '₹56.4 Lac ',
       '₹76.2 Lac ', '₹100 Lac ', '₹88.5 Lac ', '₹98.1 Lac ',
       '₹76.6 Lac ', '₹87.4 Lac ', '₹71.5 Lac ', '₹84.7 Lac ',
       '₹60.2 Lac ', '₹64.6 Lac ', '₹80.3 Lac ', '₹89.7 Lac ', '₹66 Lac ',
       '₹67.3 Lac ', '₹76.4 Lac ', '₹73 Lac ', '₹77.8 Lac ', '₹76.8 Lac ',
       '₹86.5 Lac ', '₹62.8 Lac ', '₹94.3 Lac ', '₹94.8 Lac ',
       '₹71.9 Lac ', '₹72.1 Lac ', '₹84.8 Lac ', '₹95.2 Lac ',
       '₹63.5 Lac ', '₹98.3 Lac ', '₹65.6 Lac ', '₹52.5 Lac ',
       '₹62.5 Lac ', '₹65.8 Lac ', '₹50.9 Lac ', '₹74.9 Lac ',
       '₹79.3 Lac ', '₹85.5 Lac ', '₹65.4 Lac ', '₹75.9 Lac ',
       '₹55.3 Lac ', '₹70.6 Lac ', '₹93.5 Lac ', '₹60.9 Lac ',
       '₹91.5 Lac ', '₹59.4 Lac ', '₹86.1 Lac ', '₹61.7 Lac ',
       '₹89.8 Lac ', '₹88.6 Lac ', '₹67.8 Lac ', '₹64.7 Lac ',
       '₹90.5 Lac ', '₹67.9 Lac ', '₹51.6 Lac ', '₹77.1 Lac ',
       '₹62.4 Lac ', '₹74.1 Lac ', '₹58.1 Lac ', '₹58.7 Lac ', '₹69 Lac ',
       '₹93.6 Lac ', '₹57.5 Lac ', '₹82.9 Lac ', '₹83.5 Lac ',
       '₹79.7 Lac ', '₹90.4 Lac ', '₹70.3 Lac ', '₹54.6 Lac ',
       '₹56.7 Lac ', '₹95.5 Lac ', '₹52.6 Lac ', '₹76.5 Lac ',
       '₹69.6 Lac ', '₹81.6 Lac ', '₹94.5 Lac ', '₹73.1 Lac ',
       '₹71.7 Lac ', '₹75.1 Lac ', '₹55.4 Lac ', '₹88.9 Lac ',
       '₹88.8 Lac ', '₹77.5 Lac ', '₹59.7 Lac ', '₹89.4 Lac ',
       '₹59.8 Lac ', '₹63.7 Lac ', '₹82.1 Lac ', '₹61.9 Lac ',
       '₹92.4 Lac ', '₹73.9 Lac ', '₹51.1 Lac ', '₹61.5 Lac ',
       '₹65.9 Lac ', '₹70.4 Lac ', '₹56.6 Lac ', '₹62.9 Lac ',
       '₹83.8 Lac ', '₹92.8 Lac ', '₹84.6 Lac ', '₹59.1 Lac ',
       '₹78.2 Lac ', '₹64.2 Lac ', '₹69.2 Lac ', '₹94.7 Lac ',
       '₹58.3 Lac ', '₹70.7 Lac ', '₹97.6 Lac ', '₹75.8 Lac ',
       '₹51.2 Lac ', '₹86.9 Lac ', '₹68.4 Lac ', '₹72.8 Lac ',
       '₹57.2 Lac ', '₹90.6 Lac ', '₹65.5 Lac ', '₹80.8 Lac ',
       '₹62.1 Lac ', '₹69.5 Lac ', '₹92.5 Lac ', '₹62.3 Lac ',
       '₹82.8 Lac ', '₹60.8 Lac ', '₹71.1 Lac ', '₹64.3 Lac ',
       '₹86.3 Lac ', '₹60.4 Lac ', '₹79.8 Lac ', '₹52.8 Lac ',
       '₹61.2 Lac ', '₹60.3 Lac ', '₹77.7 Lac ', '₹53.6 Lac ',
       '₹70.8 Lac ', '₹88.1 Lac ', '₹68.9 Lac ', '₹72.4 Lac ',
       '₹85.6 Lac ', '₹72.6 Lac ', '₹97.7 Lac ', '₹52.7 Lac ',
       '₹84.9 Lac ', '₹98.6 Lac ', '₹78.9 Lac ', '₹72.2 Lac ',
       '₹98.4 Lac ', '₹62.6 Lac ', '₹55.1 Lac ', '₹52.1 Lac ',
       '₹99.9 Lac ', '₹76.3 Lac ', '₹95.6 Lac ', '₹65.1 Lac ',
       '₹81.4 Lac ', '₹74.2 Lac ', '₹65.3 Lac ', '₹92.3 Lac ',
       '₹60.6 Lac ', '₹76.9 Lac ', '₹78.1 Lac ', '₹51.3 Lac ',
       '₹63.3 Lac ', '₹54.2 Lac ', '₹97.5 Lac ', '₹99.3 Lac ',
       '₹54.8 Lac ', '₹73.4 Lac ', '₹64.1 Lac ', '₹63.9 Lac ',
       '₹73.5 Lac ', '₹66.5 Lac ', '₹87.5 Lac ', '₹80.2 Lac ',
       '₹77.3 Lac ', '₹70.2 Lac ', '₹69.7 Lac ', '₹59.6 Lac ',
       '₹83.7 Lac ', '₹71.8 Lac ', '₹65.7 Lac ', '₹78.8 Lac ',
       '₹83.4 Lac ', '₹58.9 Lac ', '₹61.3 Lac ', '₹1.49 Cr ', '₹1.12 Cr ',
       '₹1.26 Cr ', '₹1.32 Cr ', '₹1.50 Cr ', '₹1.35 Cr ', '₹1.10 Cr ',
       '₹1.07 Cr ', '₹1.37 Cr ', '₹1.11 Cr ', '₹1.01 Cr ', '₹1.13 Cr ',
       '₹1.39 Cr ', '₹1.15 Cr ', '₹1.05 Cr ', '₹1.30 Cr ', '₹1.20 Cr ',
       '₹1.48 Cr ', '₹1.03 Cr ', '₹1.33 Cr ', '₹1.42 Cr ', '₹1.18 Cr ',
       '₹1.24 Cr ', '₹1.23 Cr ', '₹1.17 Cr ', '₹1.25 Cr ', '₹1.40 Cr ',
       '₹1.28 Cr ', '₹1.22 Cr ', '₹1.31 Cr ', '₹1.09 Cr ', '₹1.45 Cr ',
       '₹1.36 Cr ', '₹1.19 Cr ', '₹1.21 Cr ', '₹1.44 Cr ', '₹1.14 Cr ',
       '₹1.29 Cr ', '₹1.34 Cr ', '₹1.02 Cr ', '₹1.43 Cr ', '₹1.06 Cr ',
       '₹1.47 Cr ', '₹1.04 Cr ', '₹1.41 Cr ', '₹1.46 Cr ', '₹1.27 Cr ',
       '₹1.08 Cr ', '₹1.16 Cr ', '₹1.38 Cr ', '₹2.30 Cr ', '₹1.54 Cr ',
       '₹2.84 Cr ', '₹2.52 Cr ', '₹2.19 Cr ', '₹7 Cr ', '₹2.80 Cr ',
       '₹3.45 Cr ', '₹1.80 Cr ', '₹1.62 Cr ', '₹2 Cr ', '₹2.25 Cr ',
       '₹7.50 Cr ', '₹1.70 Cr ', '₹10 Cr ', '₹2.47 Cr ', '₹1.60 Cr ',
       '₹1.65 Cr ', '₹3.50 Cr ', '₹2.85 Cr ', '₹3.65 Cr ', '₹12.93 Cr ',
       '₹1.63 Cr ', '₹5.50 Cr ', '₹2.61 Cr ', '₹3.20 Cr ', '₹1.61 Cr ',
       '₹1.72 Cr ', '₹4 Cr ', '₹9 Cr ', '₹5.51 Cr ', '₹5 Cr ',
       '₹1.68 Cr ', '₹3.41 Cr ', '₹2.51 Cr ', '₹1.51 Cr ', '₹2.82 Cr ',
       '₹1.98 Cr ', '₹2.10 Cr ', '₹2.98 Cr ', '₹6 Cr ', '₹3 Cr ',
       '₹3.30 Cr ', '₹6.50 Cr ', '₹2.34 Cr ', '₹2.76 Cr ', '₹3.61 Cr ',
       '₹2.11 Cr ', '₹4.99 Cr ', '₹1.76 Cr ', '₹2.40 Cr ', '₹8.50 Cr ',
       '₹5.25 Cr ', '₹4.10 Cr ', '₹1.89 Cr ', '₹2.50 Cr ', '₹2.83 Cr ',
       '₹2.20 Cr ', '₹3.49 Cr ', '₹3.33 Cr ', '₹18.50 Cr ', '₹2.27 Cr ',
       '₹31.50 Cr ', '₹1.53 Cr ', '₹1.94 Cr ', '₹41 Cr ', '₹2.15 Cr ',
       '₹2.55 Cr ', '₹4.50 Cr ', '₹4.08 Cr ', '₹12.50 Cr ', '₹1.59 Cr ',
       '₹1.55 Cr ', '₹5.18 Cr ', '₹3.51 Cr ', '₹1.81 Cr ', '₹3.80 Cr ',
       '₹534.44 Cr ', '₹3.03 Cr ', '₹6.96 Cr ', '₹1.75 Cr ', '₹3.25 Cr ',
       '₹1.52 Cr ', '₹12 Cr ', '₹3.55 Cr ', '₹2.72 Cr ', '₹1.90 Cr ',
       '₹6.60 Cr ', '₹1.95 Cr ', '₹2.73 Cr ', '₹3.11 Cr ', '₹3.75 Cr ',
       '₹2.17 Cr ', '₹2.32 Cr ', '₹2.69 Cr ', '₹55 Cr ', '₹3.10 Cr ',
       '₹3.31 Cr ', '₹2.60 Cr ', '₹1.58 Cr ', '₹2.75 Cr ', '₹15 Cr ',
       '₹3.60 Cr ', '₹3.12 Cr ', '₹146.33 Cr ', '₹1.71 Cr ', '₹4.35 Cr ',
       '₹2.95 Cr ', '₹20 Cr ', '₹2.70 Cr ', '₹3.70 Cr ', '₹2.26 Cr ',
       '₹14 Cr ', '₹5.04 Cr ', '₹2.46 Cr ', '₹2.43 Cr ', '₹1.86 Cr ',
       '₹2.77 Cr ', '₹4.71 Cr ', '₹4.65 Cr ', '₹1.77 Cr ', '₹2.90 Cr ',
       '₹2.36 Cr ', '₹2.03 Cr ', '₹1.84 Cr ', '₹6.30 Cr ', '₹2.04 Cr ',
       '₹7.20 Cr ', '₹4.03 Cr ', '₹1.73 Cr ', '₹3.08 Cr ', '₹2.92 Cr ',
       '₹3.53 Cr ', '₹3.23 Cr ', '₹1.66 Cr ', '₹4.07 Cr ', '₹6.80 Cr ',
       '₹3.35 Cr ', '₹3.22 Cr ', '₹5.55 Cr ', '₹1.82 Cr ', '₹2.59 Cr ',
       '₹2.07 Cr ', '₹1.88 Cr ', '₹2.56 Cr ', '₹9.22 Cr ', '₹2.88 Cr ',
       '₹2.18 Cr ', '₹1.85 Cr ', '₹3.96 Cr ', '₹3.99 Cr ', '₹2.21 Cr ',
       '₹2.01 Cr ', '₹3.01 Cr ', '₹3.26 Cr ', '₹11.55 Cr ', '₹2.71 Cr ',
       '₹2.66 Cr ', '₹3.63 Cr ', '₹2.28 Cr ', '₹1.91 Cr ', '₹1.56 Cr ',
       '₹1.96 Cr ', '₹3.32 Cr ', '₹7.58 Cr ', '₹4.75 Cr ', '₹1.93 Cr ',
       '₹2.37 Cr ', '₹1.69 Cr ', '₹5.52 Cr ', '₹2.16 Cr ', '₹1.97 Cr ',
       '₹8.79 Cr ', '₹2.62 Cr ', '₹2.39 Cr ', '₹1.99 Cr ', '₹4.31 Cr ',
       '₹1.79 Cr ', '₹10.09 Cr ', '₹5.57 Cr ', '₹4.25 Cr ', '₹3.34 Cr ',
       '₹3.15 Cr ', '₹8.13 Cr ', '₹1.87 Cr ', '₹6.53 Cr ', '₹7.95 Cr ',
       '₹2.33 Cr ', '₹4.30 Cr ', '₹2.48 Cr ', '₹3.19 Cr ', '₹3.74 Cr ',
       '₹4.20 Cr ', '₹4.42 Cr ', '₹1.92 Cr ', '₹3.04 Cr ', '₹4.73 Cr ',
       '₹3.95 Cr ', '₹2.35 Cr ', '₹3.18 Cr ', '₹1.74 Cr ', '₹1.64 Cr ',
       '₹2.81 Cr ', '₹2.58 Cr ', '₹3.39 Cr ', '₹4.60 Cr ', '₹4.72 Cr ',
       '₹4.01 Cr ', '₹1.57 Cr ', '₹8.60 Cr ', '₹6.47 Cr ', '₹3.93 Cr ',
       '₹1.83 Cr ', '₹2.68 Cr ', '₹2.54 Cr ', '₹2.24 Cr ', '₹3.05 Cr ',
       '₹3.48 Cr ', '₹2.99 Cr ', '₹3.97 Cr ', '₹3.40 Cr ', '₹4.23 Cr ',
       '₹6.76 Cr ', '₹3.58 Cr ', '₹8 Cr ', '₹4.80 Cr ', '₹2.05 Cr ',
       '₹2.97 Cr ', '₹4.51 Cr ', '₹3.90 Cr ', '₹3.13 Cr ', '₹3.36 Cr ',
       '₹16.50 Cr ', '₹2.02 Cr ', '₹1.67 Cr ', '₹2.14 Cr ', '₹5.72 Cr ',
       '₹2.79 Cr ', '₹2.13 Cr ', '₹3.02 Cr ', '₹2.57 Cr ', '₹2.08 Cr ',
       '₹7.60 Cr ', '₹4.24 Cr ', '₹5.48 Cr ', '₹2.78 Cr ', '₹2.22 Cr ',
       '₹2.87 Cr ', '₹5.12 Cr ', '₹3.54 Cr ', '₹4.53 Cr ', '₹6.10 Cr ',
       '₹3.76 Cr ', '₹4.16 Cr ', '₹3.92 Cr ', '₹2.41 Cr ', '₹4.38 Cr ',
       '₹5.36 Cr ', '₹5.40 Cr ', '₹7.19 Cr ', '₹3.24 Cr ', '₹4.32 Cr ',
       '₹4.05 Cr ', '₹3.59 Cr ', '₹6.37 Cr ', '₹3.27 Cr ', '₹7.22 Cr ',
       '₹3.21 Cr ', '₹4.14 Cr ', '₹4.41 Cr ', '₹7.65 Cr ', '₹5.20 Cr ',
       '₹4.39 Cr ', '₹4.68 Cr ', '₹4.67 Cr ', '₹5.60 Cr ', '₹6.08 Cr '],
      dtype=object)

In [43]:

df['unit'] = df['price'].str.extract(r'(?:₹|\$|Rs?\.?)\s*[\d.,]+\s*([A-Za-z]+)\b', flags=re.IGNORECASE)

# ------------------------------------------------------------
# STEP 2: Show COMPLETE frequency analysis
print("🔍 ALL UNIT TYPES FOUND:")
unit_counts = df['unit'].value_counts(dropna=False)
print(unit_counts)

# ------------------------------------------------------------
# STEP 3: Display EXAMPLES OF EACH UNIT
print("\n📝 Sample Entries for Each Unit:")
for unit in unit_counts.index:
    if pd.isna(unit):
        samples = df[df['unit'].isna()]['price'].head(2).tolist()
        print(f"• No unit: {samples}")
    else:
        samples = df[df['unit'].str.lower() == unit.lower()]['price'].head(2).tolist()
        print(f"• {unit}: {samples}")

🔍 ALL UNIT TYPES FOUND:
unit
Lac    2757
Cr     1487
NaN     172
Name: count, dtype: int64

📝 Sample Entries for Each Unit:
• Lac: ['₹33.8 Lac ', '₹45.4 Lac ']
• Cr: ['₹1 Cr ', '₹1 Cr ']
• No unit: ['Call for Price', 'Call for Price']

In [44]:

CR_TO_LAC = 100  # 1 Cr = 100 Lac

# Step 1: Create clean 'price_lac' column directly
def convert_to_lac(price):
    if pd.isna(price) or str(price).strip() == '':
        return np.nan
    
    price = str(price).strip()
    
    # Handle 'Call for Price'
    if 'Call' in price:
        return median_lac  # Will be set later
    
    # Extract numeric value
    try:
        num = float(re.sub(r'[^\d.]', '', price))
    except:
        return np.nan
    
    # Convert Cr to Lac
    if 'Cr' in price:
        num *= CR_TO_LAC
    
    return round(num, 2)

# Calculate median from Lac prices first (excluding Cr/Call prices)
valid_lac_mask = df['price'].str.contains('Lac', na=False)
median_lac = (df[valid_lac_mask]['price']
              .str.replace(r'[^\d.]', '', regex=True)
              .astype(float)
              .median())

# Apply conversion
df['price_lac'] = df['price'].apply(convert_to_lac)

# Step 2: Remove original and intermediate columns
df.drop(columns=['price', 'unit', 'numeric_value'], errors='ignore', inplace=True)

# Step 3: Remove unconvertible rows
df = df[df['price_lac'].notna()]

print("✅ Final Clean DataFrame:")
print(df.head())

✅ Final Clean DataFrame:
  areawithtype       transaction        status            floor  \
0  Carpet Area  Poss. by Oct '24  New Property      5 out of 10
1   Super Area  Poss. by Jan '26  New Property      6 out of 14
2   Super Area     Ready to Move        Resale      5 out of 13
3  Carpet Area     Ready to Move  New Property      6 out of 14
4   Super Area                 2  New Property  Orchid Fantasia

       furnishing       facing  total_sqft  bhk  price_sqft  price_lac
0     Unfurnished         West       644.0  2.0      2891.0       33.8
1     Unfurnished  South -West      1278.0  2.0      3551.0       45.4
2  Semi-Furnished         East      1173.0  2.0      3800.0       44.6
3     Unfurnished         East       700.0  2.0      3966.0       47.0
4     Unfurnished         East      1250.0  2.0      3600.0       45.0

In [45]:
df

,areawithtype,transaction,status,floor,furnishing,facing,total_sqft,bhk,price_sqft,price_lac
0,Carpet Area,Poss. by Oct '24,New Property,5 out of 10,Unfurnished,West,644.0,2.0,2891.0,33.8
1,Super Area,Poss. by Jan '26,New Property,6 out of 14,Unfurnished,South -West,1278.0,2.0,3551.0,45.4
2,Super Area,Ready to Move,Resale,5 out of 13,Semi-Furnished,East,1173.0,2.0,3800.0,44.6
3,Carpet Area,Ready to Move,New Property,6 out of 14,Unfurnished,East,700.0,2.0,3966.0,47.0
4,Super Area,2,New Property,Orchid Fantasia,Unfurnished,East,1250.0,2.0,3600.0,45.0
...,...,...,...,...,...,...,...,...,...,...
4520,Carpet Area,Poss. by Dec '26,New Property,5 out of 12,Unfurnished,South - East,2000.0,6.0,NaN,50.9
4521,Super Area,Poss. by Dec '25,New Property,5 out of 16,Unfurnished,South - East,3600.0,4.0,NaN,50.9
4522,Carpet Area,Poss. by Dec '25,New Property,7 out of 13,Unfurnished,North - East,2250.0,5.0,NaN,50.9
4523,Carpet Area,Ready to Move,New Property,7 out of 18,Unfurnished,North - West,3450.0,6.0,NaN,50.9
4524,Super Area,Ready to Move,New Property,3 out of 12,Unfurnished,North,4500.0,4.0,NaN,50.9

In [46]:
median_lac = df['price_sqft'].median()
df['price_sqft'] = df['price_sqft'].fillna(median_lac)

In [47]:
df

,areawithtype,transaction,status,floor,furnishing,facing,total_sqft,bhk,price_sqft,price_lac
0,Carpet Area,Poss. by Oct '24,New Property,5 out of 10,Unfurnished,West,644.0,2.0,2891.0,33.8
1,Super Area,Poss. by Jan '26,New Property,6 out of 14,Unfurnished,South -West,1278.0,2.0,3551.0,45.4
2,Super Area,Ready to Move,Resale,5 out of 13,Semi-Furnished,East,1173.0,2.0,3800.0,44.6
3,Carpet Area,Ready to Move,New Property,6 out of 14,Unfurnished,East,700.0,2.0,3966.0,47.0
4,Super Area,2,New Property,Orchid Fantasia,Unfurnished,East,1250.0,2.0,3600.0,45.0
...,...,...,...,...,...,...,...,...,...,...
4520,Carpet Area,Poss. by Dec '26,New Property,5 out of 12,Unfurnished,South - East,2000.0,6.0,4697.5,50.9
4521,Super Area,Poss. by Dec '25,New Property,5 out of 16,Unfurnished,South - East,3600.0,4.0,4697.5,50.9
4522,Carpet Area,Poss. by Dec '25,New Property,7 out of 13,Unfurnished,North - East,2250.0,5.0,4697.5,50.9
4523,Carpet Area,Ready to Move,New Property,7 out of 18,Unfurnished,North - West,3450.0,6.0,4697.5,50.9
4524,Super Area,Ready to Move,New Property,3 out of 12,Unfurnished,North,4500.0,4.0,4697.5,50.9

In [48]:
df.isnull().sum()

areawithtype      0
transaction     142
status           19
floor           164
furnishing      385
facing            0
total_sqft        6
bhk             613
price_sqft        0
price_lac         0
dtype: int64

In [49]:
df['transaction'] = df['transaction'].fillna(df['transaction'].mode()[0])

df['status'] = df['status'].fillna('Unknown')

df['floor'] = df['floor'].fillna(df['floor'].mode()[0])

df['furnishing'] = df['furnishing'].fillna(df['furnishing'].mode()[0])

df['total_sqft'] = df.groupby('bhk')['total_sqft'].transform(
    lambda x: x.fillna(x.median())
)
df['bhk'] = df.groupby('total_sqft')['bhk'].transform(
    lambda x: x.fillna(x.median())
)

overall_sqft_median = df['total_sqft'].median()
overall_bhk_median = df['bhk'].median()

df['total_sqft'] = df['total_sqft'].fillna(overall_sqft_median)
df['bhk'] = df['bhk'].fillna(overall_bhk_median)

In [50]:
df.isnull().sum()

areawithtype    0
transaction     0
status          0
floor           0
furnishing      0
facing          0
total_sqft      0
bhk             0
price_sqft      0
price_lac       0
dtype: int64

In [51]:
df

,areawithtype,transaction,status,floor,furnishing,facing,total_sqft,bhk,price_sqft,price_lac
0,Carpet Area,Poss. by Oct '24,New Property,5 out of 10,Unfurnished,West,644.0,2.0,2891.0,33.8
1,Super Area,Poss. by Jan '26,New Property,6 out of 14,Unfurnished,South -West,1278.0,2.0,3551.0,45.4
2,Super Area,Ready to Move,Resale,5 out of 13,Semi-Furnished,East,1173.0,2.0,3800.0,44.6
3,Carpet Area,Ready to Move,New Property,6 out of 14,Unfurnished,East,700.0,2.0,3966.0,47.0
4,Super Area,2,New Property,Orchid Fantasia,Unfurnished,East,1250.0,2.0,3600.0,45.0
...,...,...,...,...,...,...,...,...,...,...
4520,Carpet Area,Poss. by Dec '26,New Property,5 out of 12,Unfurnished,South - East,2000.0,6.0,4697.5,50.9
4521,Super Area,Poss. by Dec '25,New Property,5 out of 16,Unfurnished,South - East,3600.0,4.0,4697.5,50.9
4522,Carpet Area,Poss. by Dec '25,New Property,7 out of 13,Unfurnished,North - East,2250.0,5.0,4697.5,50.9
4523,Carpet Area,Ready to Move,New Property,7 out of 18,Unfurnished,North - West,3450.0,6.0,4697.5,50.9
4524,Super Area,Ready to Move,New Property,3 out of 12,Unfurnished,North,4500.0,4.0,4697.5,50.9

## Ecoding and Scaling

In [53]:
import pandas as pd

categorical_cols = [
    'areawithtype', 
    'transaction', 
    'status', 
    'floor', 
    'furnishing', 
    'facing'
]

df = pd.get_dummies(
    df, 
    columns=categorical_cols,
    prefix=categorical_cols,
    drop_first=True
)

In [54]:
from sklearn.preprocessing import StandardScaler
numeric_cols = ['total_sqft', 'bhk', 'price_sqft',]
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4416 entries, 0 to 4524
Columns: 412 entries, total_sqft to facing_West
dtypes: bool(408), float64(4)
memory usage: 1.9 MB

In [58]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Define features (X) and target (y) from the DataFrame
X = df.drop('price_lac', axis=1)
y = df['price_lac']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model (metrics explained later)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("--- Linear Regression Results ---")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

--- Linear Regression Results ---
Mean Squared Error (MSE): 70024.54
R-squared (R2): -3.91