In [60]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score
import time

In [14]:
df = pd.read_csv("Data/heart.csv")

In [15]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [16]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [18]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [19]:
df.duplicated().sum()

np.int64(723)

In [20]:
dups_sample = df[df.duplicated()].head()
print(dups_sample)

    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
15   34    0   1       118   210    0        1      192      0      0.7
31   50    0   1       120   244    0        1      162      0      1.1
43   46    1   0       120   249    0        0      144      0      0.8
55   55    1   0       140   217    0        1      111      1      5.6
61   66    0   2       146   278    0        0      152      0      0.0

    slope  ca  thal  target
15      2   0     2       1
31      2   0     2       1
43      2   0     3       0
55      0   0     3       0
61      1   1     2       1

In [21]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [22]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [25]:
y = df["target"].astype(int)

- Change the columns to the number

In [23]:
X = pd.get_dummies(df.drop(columns=["target"]), drop_first=False)

- Train & test

In [26]:
X_train_df, X_test_df, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

- build model

In [33]:
def build_model(input_dim):
    model = keras.Sequential([
        keras.layers.Input(shape=(input_dim,)),
        keras.layers.Dense(32, activation="relu"),
        keras.layers.Dense(16, activation="relu"),
        keras.layers.Dense(1, activation="sigmoid")
    ])
    model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])
    return model

- Data raw

In [36]:
X_train_raw = X_train_df.values.astype("float32")
X_test_raw  = X_test_df.values.astype("float32")

model_raw = build_model(X_train_raw.shape[1])
model_raw.fit(X_train_raw, y_train, epochs=20, batch_size=32, verbose=0, validation_split=0.1)
loss_raw, acc_raw = model_raw.evaluate(X_test_raw, y_test, verbose=0)
print(f"RAW        -> test_accuracy = {acc_raw:.4f}")

RAW        -> test_accuracy = 0.7707

- normalized data

In [39]:
# === 2) NORMALIZED (MinMax 0..1) ===
mm = MinMaxScaler()
X_train_minmax = mm.fit_transform(X_train_df).astype("float32")
X_test_minmax  = mm.transform(X_test_df).astype("float32")

model_minmax = build_model(X_train_minmax.shape[1])
model_minmax.fit(X_train_minmax, y_train, epochs=20, batch_size=32, verbose=0, validation_split=0.1)
loss_mm, acc_mm = model_minmax.evaluate(X_test_minmax, y_test, verbose=0)
print(f"MINMAX     -> test_accuracy = {acc_mm:.4f}")

MINMAX     -> test_accuracy = 0.8585

- Standardized،

In [40]:
# === 3) STANDARDIZED (StandardScaler: mean=0, std=1) ===
ss = StandardScaler()
X_train_std = ss.fit_transform(X_train_df).astype("float32")
X_test_std  = ss.transform(X_test_df).astype("float32")

model_std = build_model(X_train_std.shape[1])
model_std.fit(X_train_std, y_train, epochs=20, batch_size=32, verbose=0, validation_split=0.1)
loss_std, acc_std = model_std.evaluate(X_test_std, y_test, verbose=0)
print(f"STANDARD   -> test_accuracy = {acc_std:.4f}")

STANDARD   -> test_accuracy = 0.8585

# Train/evaluate one mode (returns a dict with everything we need)

In [55]:
def run_mode(name, X_train_array, X_test_array, epochs=80, batch_size=32):
    model = build_model(X_train_array.shape[1])

    # EarlyStopping = proxy for "convergence speed"
    es = keras.callbacks.EarlyStopping(
        monitor="val_loss", patience=8, restore_best_weights=True
    )

    t0 = time.perf_counter()
    hist = model.fit(
        X_train_array, y_train,
        validation_split=0.2,
        epochs=epochs,
        batch_size=batch_size,
        verbose=0,
        callbacks=[es]
    )
    train_time = time.perf_counter() - t0

    # Min validation loss over training = compare training loss
    best_val_loss = float(np.min(hist.history["val_loss"]))
    epochs_run = len(hist.history["loss"])  # how many epochs until stop

    # Test metrics
    y_prob = model.predict(X_test_array, verbose=0).ravel()
    y_pred = (y_prob >= 0.5).astype(int)
    acc  = accuracy_score(y_test, y_pred)
    prec = precision_score(y_test, y_pred, zero_division=0)
    rec  = recall_score(y_test, y_pred, zero_division=0)

    return {
        "mode": name,
        "best_val_loss": round(best_val_loss, 4),  # training loss comparison
        "epochs_run": int(epochs_run),             # convergence speed (fewer is faster)
        "train_time_sec": round(train_time, 2),    # convergence speed (wall time)
        "accuracy": round(float(acc), 4),
        "precision": round(float(prec), 4),
        "recall": round(float(rec), 4),
    }

#### This step gives you a clear comparison between models trained on raw, normalized, and standardized data.

- Prepare the three versions of X (Raw / MinMax / Standard)

In [56]:
X_train_raw = X_train_df.values.astype("float32")
X_test_raw  = X_test_df.values.astype("float32")

-  MinMax (0..1)

In [57]:

mm = MinMaxScaler()
X_train_mm = mm.fit_transform(X_train_df).astype("float32")
X_test_mm  = mm.transform(X_test_df).astype("float32")

- Standard (mean=0, std=1)

In [58]:
ss = StandardScaler()
X_train_std = ss.fit_transform(X_train_df).astype("float32")
X_test_std  = ss.transform(X_test_df).astype("float32")

In [61]:
results = []
results.append(run_mode("RAW",      X_train_raw, X_test_raw))
results.append(run_mode("MINMAX",   X_train_mm,  X_test_mm))
results.append(run_mode("STANDARD", X_train_std, X_test_std))

print("\n=== Comparison: training loss, convergence speed, and evaluation metrics ===")
for r in results:
    print(f"{r['mode']:9s} | val_loss(min)={r['best_val_loss']:.4f} | "
          f"epochs={r['epochs_run']:2d} | time={r['train_time_sec']:5.2f}s | "
          f"acc={r['accuracy']:.4f} | prec={r['precision']:.4f} | rec={r['recall']:.4f}")

WARNING:tensorflow:5 out of the last 15 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x0000026386C2EB60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

=== Comparison: training loss, convergence speed, and evaluation metrics ===
RAW       | val_loss(min)=0.4342 | epochs=55 | time=34.07s | acc=0.8488 | prec=0.8190 | rec=0.9048
MINMAX    | val_loss(min)=0.3123 | epochs=80 | time=42.02s | acc=0.9366 | prec=0.9259 | rec=0.9524
STANDARD  | val_loss(min)=0.0679 | epochs=80 | time=51.30s | acc=0.9854 | prec=0.9811 | rec=0.9905

# Document how preprocessing choices affect model performance.

- Raw: model worked but slower (more epochs, higher loss, lower accuracy).

- MinMax: faster training, accuracy improved.

- Standard: best convergence speed and highest accuracy/precision/recall.