In [158]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import re

In [159]:
card_url = 'https://www.scrapethissite.com/pages/frames/?frame=i'

main_url = "https://www.scrapethissite.com/pages/frames/frame-1.html"
response = requests.get(card_url)
if content_response.status_code == 200:
    print("you have the parmission to use the page ✅")

you have the parmission to use the page ✅

In [160]:
content_response.status_code

200

In [161]:
soup=BeautifulSoup(content_response.content, 'html.parser')

iframe_tag = soup.find('iframe')

if iframe_tag:
    iframe_src = iframe_tag.get('src')
    iframe_url = "https://www.scrapethissite.com" + iframe_src
    print(f"Successfully:{iframe_url}")
else:
    print("Fail")

In [162]:
base_url = "https://www.scrapethissite.com"

In [163]:
turtles = soup.find_all('div', class_='col-md-4 turtle-family-card')

data = {"Name":[], "known_as":[], "Discovery_Year":[],"Discovered_By": [] } # to save the data that we get it.. 
for turtle in turtles:
    name_tag = turtle.find('h3', class_='family-name')
    if name_tag:
        name = name_tag.text.strip()
        data['Name'].append(name)

        link = turtle.find("a", href= True)
        url_dit = base_url + link['href']
        rf_dit= requests.get(url_dit)
        soup=BeautifulSoup(rf_dit.content, 'html.parser')
        info = soup.find("p", class_ ="lead")
        known_as = info.find("strong", class_ ="common-name")
    if known_as:
        known = known_as.text.strip()
        data['known_as'].append(known)
        match = re.search(r"\b(1[7-9]\d{2}|20\d{2})\b", info.text)
        year = match.group(0)
        data["Discovery_Year"].append(year)
        match_by = re.search(r"by ([A-Z][a-zA-Z\s\.\-]*)", info.text)
        discoverer = match_by.group(1).strip()
        data["Discovered_By"].append(discoverer)
        
        
        
        

print(data)

{'Name': ['Carettochelyidae', 'Cheloniidae', 'Chelydridae', 'Dermatemydidae', 'Dermochelyidae', 'Emydidae', 'Geoemydidae', 'Kinosternidae', 'Platysternidae', 'Testudinidae', 'Trionychidae', 'Chelidae', 'Pelomedusidae', 'Podocnemididae'], 'known_as': ['Pig-nosed turtle', 'Sea turtles', 'Snapping turtles', 'Central American river turtle', 'Leatherback sea turtle', 'Pond or water turtles', 'Asian river, leaf, roofed or Asian box turtles', 'Mud or musk turtles', 'Big-headed turtle', 'Tortoises', 'Softshell turtles', 'Austro-American sideneck turtles', 'Afro-American sideneck turtles', 'Madagascar big-headed, Big-headed Amazon River turtle and South American sideneck river turtles'], 'Discovery_Year': ['1887', '1811', '1831', '1870', '1843', '1815', '1868', '1857', '1869', '1788', '1826', '1831', '1868', '1869'], 'Discovered_By': ['Boulenger.', 'Oppel.', 'Gray.', 'Gray.', 'Fitzinger.', 'Rafinesque.', 'Theobald.', 'Agassiz.', 'Gray.', 'Batsch.', 'Fitzinger.', 'Gray.', 'Cope.', 'Gray.']}

In [167]:
df = pd.DataFrame(data)
df

,Name,known_as,Discovery_Year,Discovered_By
0,Carettochelyidae,Pig-nosed turtle,1887,Boulenger.
1,Cheloniidae,Sea turtles,1811,Oppel.
2,Chelydridae,Snapping turtles,1831,Gray.
3,Dermatemydidae,Central American river turtle,1870,Gray.
4,Dermochelyidae,Leatherback sea turtle,1843,Fitzinger.
5,Emydidae,Pond or water turtles,1815,Rafinesque.
6,Geoemydidae,"Asian river, leaf, roofed or Asian box turtles",1868,Theobald.
7,Kinosternidae,Mud or musk turtles,1857,Agassiz.
8,Platysternidae,Big-headed turtle,1869,Gray.
9,Testudinidae,Tortoises,1788,Batsch.
10,Trionychidae,Softshell turtles,1826,Fitzinger.
11,Chelidae,Austro-American sideneck turtles,1831,Gray.
12,Pelomedusidae,Afro-American sideneck turtles,1868,Cope.
13,Podocnemididae,"Madagascar big-headed, Big-headed Amazon River...",1869,Gray.

In [168]:
print("values num (rows):", len(turtles))

values num (rows): 14