# Flats Uncleaned Dataset

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
df = pd.read_csv('Data/surat_uncleaned.csv')

In [27]:
df

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,"₹3,551 per sqft",₹45.4 Lac
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,"₹3,800 per sqft",₹44.6 Lac
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,"₹3,966 per sqft",₹47 Lac
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,600 per sqft",₹45 Lac
...,...,...,...,...,...,...,...,...,...,...,...
4520,6 BHK Apartment for Sale in Millionaires Lifes...,Carpet Area,2000 sqft,New Property,Poss. by Dec '26,5 out of 12,Unfurnished,South - East,"Check out Millionaires Lifestyle in Vesu, one ...",NaN,Call for Price
4521,"4 BHK Apartment for Sale in Savan Superia, Alt...",Super Area,3600 sqft,New Property,Poss. by Dec '25,5 out of 16,Unfurnished,South - East,Superia is a premium residential project launc...,NaN,Call for Price
4522,5 BHK Apartment for Sale in Roongta Green Vall...,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,"When it comes to beautiful homes, nothing beat...",NaN,Call for Price
4523,"6 BHK Apartment for Sale in Cellestial Dreams,...",Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,"DRB Ravani Cellestial Dreams in Vesu, Surat is...",NaN,Call for Price
4524,4 BHK Apartment for Sale in Roongta Green Vall...,Super Area,4500 sqft,New Property,Ready to Move,3 out of 12,Unfurnished,North,Roongta Green Valley is one of the popular res...,NaN,Call for Price

In [28]:
df.dtypes

property_name     object
areaWithType      object
square_feet       object
transaction       object
status            object
floor             object
furnishing        object
facing            object
description       object
price_per_sqft    object
price             object
dtype: object

In [33]:
df.duplicated().sum()

np.int64(109)

In [34]:
df.drop_duplicates(keep='first')

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278 sqft,New Property,Poss. by Jan '26,6 out of 14,Unfurnished,South -West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,"₹3,551 per sqft",₹45.4 Lac
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173 sqft,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,"₹3,800 per sqft",₹44.6 Lac
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700 sqft,New Property,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,"₹3,966 per sqft",₹47 Lac
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250 sqft,Orchid Fantasia,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,600 per sqft",₹45 Lac
...,...,...,...,...,...,...,...,...,...,...,...
4520,6 BHK Apartment for Sale in Millionaires Lifes...,Carpet Area,2000 sqft,New Property,Poss. by Dec '26,5 out of 12,Unfurnished,South - East,"Check out Millionaires Lifestyle in Vesu, one ...",NaN,Call for Price
4521,"4 BHK Apartment for Sale in Savan Superia, Alt...",Super Area,3600 sqft,New Property,Poss. by Dec '25,5 out of 16,Unfurnished,South - East,Superia is a premium residential project launc...,NaN,Call for Price
4522,5 BHK Apartment for Sale in Roongta Green Vall...,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,"When it comes to beautiful homes, nothing beat...",NaN,Call for Price
4523,"6 BHK Apartment for Sale in Cellestial Dreams,...",Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,"DRB Ravani Cellestial Dreams in Vesu, Surat is...",NaN,Call for Price
4524,4 BHK Apartment for Sale in Roongta Green Vall...,Super Area,4500 sqft,New Property,Ready to Move,3 out of 12,Unfurnished,North,Roongta Green Valley is one of the popular res...,NaN,Call for Price

In [37]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction        104
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [53]:
for col in df.select_dtypes(include = 'object'):
    df[col] = df[col].str.strip()

In [59]:
df['transaction'].unique()

array(['New Property', 'Resale', 'Orchid Fantasia', 'Unfurnished',
       'Orchid Gardenia', 'Congo', 'Furnished', nan, 'Semi-Furnished',
       'Main Road, Garden/Park', '1', '3', '4', 'Yes', 'No',
       'Mahavir Nagar', '3 Covered', 'Shagun Residency', '2', 'Main Road',
       '10 m', 'Other', '1 Covered', 'Soham Elegance', 'Garden/Park',
       'Aakash Echo Point', 'Sundaram Residency', '5', 'Jolly Residency',
       'Mangalam Heights', 'Green City', 'Pool, Garden/Park, Main Road',
       '6', 'Co-operative Society', 'Vatsalya Bungalows', '20 Covered,',
       'Raghuvir Silverstone', '8 m', 'Casa Rivera'], dtype=object)

In [62]:
df['transaction'] = df['transaction'].fillna(df['transaction'].mode()[0])

In [65]:
df['transaction'].unique()

array(['New Property', 'Resale', 'Orchid Fantasia', 'Unfurnished',
       'Orchid Gardenia', 'Congo', 'Furnished', 'Semi-Furnished',
       'Main Road, Garden/Park', '1', '3', '4', 'Yes', 'No',
       'Mahavir Nagar', '3 Covered', 'Shagun Residency', '2', 'Main Road',
       '10 m', 'Other', '1 Covered', 'Soham Elegance', 'Garden/Park',
       'Aakash Echo Point', 'Sundaram Residency', '5', 'Jolly Residency',
       'Mangalam Heights', 'Green City', 'Pool, Garden/Park, Main Road',
       '6', 'Co-operative Society', 'Vatsalya Bungalows', '20 Covered,',
       'Raghuvir Silverstone', '8 m', 'Casa Rivera'], dtype=object)

In [73]:
value_counts = df['transaction'].value_counts()

In [74]:
valid_values = value_counts[value_counts > 1].index

df = df[df['transaction'].isin(valid_values)]

In [75]:
df['transaction'].value_counts()

transaction
Resale                  2301
New Property            1486
Unfurnished              404
Semi-Furnished            91
Furnished                 69
2                         24
3                         22
No                        20
Congo                     19
1                         16
Yes                       15
5                         11
4                          7
Main Road                  6
Orchid Gardenia            3
6                          3
Soham Elegance             3
Orchid Fantasia            2
Jolly Residency            2
Raghuvir Silverstone       2
Casa Rivera                2
Name: count, dtype: int64

In [76]:
unrelated_values = ['Unfurnished', 'Semi-Furnished', 'Furnished', '2', '3', 'No', '1', 'Yes', '5', '4', '6']
df['transaction'] = df['transaction'].replace(unrelated_values, np.nan)

In [78]:
df['transaction'].isnull().sum()

np.int64(682)

In [79]:
df['transaction'] = df['transaction'].fillna(df['transaction'].mode()[0])

In [80]:
df['transaction'].value_counts()

transaction
Resale                  2983
New Property            1486
Congo                     19
Main Road                  6
Orchid Gardenia            3
Soham Elegance             3
Orchid Fantasia            2
Jolly Residency            2
Raghuvir Silverstone       2
Casa Rivera                2
Name: count, dtype: int64

In [81]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction          0
status               1
floor               45
furnishing         330
facing             575
description       1363
price_per_sqft     366
price                0
dtype: int64

In [82]:
df['status'].unique()

array(["Poss. by Oct '24", "Poss. by Jan '26", 'Ready to Move',
       'New Property', "Poss. by Dec '25", "Poss. by Jun '24",
       "Poss. by Sep '25", "Poss. by Feb '26", '1 out of 7',
       "Poss. by Jul '24", "Poss. by Dec '26", "Poss. by Apr '25",
       "Poss. by Jan '25", 'Freehold', '21 X 50.2', "Poss. by Dec '24",
       "Poss. by Aug '25", "Poss. by Feb '25", '3 out of 10', 'Resale',
       'Co-operative Society', '120 X 105', '3 out of 7',
       "Poss. by May '26", '36 X 15', "Poss. by Aug '24", '2',
       '3 out of 3', '52.5 X 32.1', '3 out of 5', '5 out of 5',
       '12 X 35.92', '13 out of 14', '7.29 X 14', '4 out of 5',
       'Ground out of 1', '3 out of 4', 'Ground out of 10',
       'Ground out of 2', '20 X 40', '16.4 X 60', '11 out of 14',
       '9.42 X 126', '25 X 12', nan, '2 out of 4', '54 X 15', '21 X 57',
       'Power Of Attorney', "Poss. by Jul '25", "Poss. by May '25",
       "Poss. by Mar '26", "Poss. by Jun '26", "Poss. by Nov '24",
       '26.7 X 55.6', "Poss. by Jun '25", "Poss. by Mar '25", '41 X 20',
       "Poss. by Apr '26", '5 out of 13', '36 X 21', '19.2 X 54.8',
       '8 out of 14', '26.7 X 54.9', '38 X 21', '2 out of 13', '135 X 75',
       '38 X 20', '114 X 60', '45 X 40', '40 X 21', "Poss. by Sep '24",
       "Poss. by Nov '25", '37 X 26', '180 X 22.5', '4 out of 14',
       '114 X 14', 'Const. Age New Construction', '285 X 51',
       '8 out of 10', '6 out of 11', 'Ground out of 5',
       "Poss. by Oct '25", '10 out of 11', '5 out of 14', '60 X 28',
       '37 X 20', '13.3 X 135', '9 out of 11', "Poss. by Dec '28",
       '48 X 14', '45.5 X 21.56', '60 X 120', "Poss. by Sep '26",
       '8 out of 13', '7 out of 13', '4.55 X 20', "Poss. by Dec '27",
       '9 out of 13', '16.7 X 240', "Poss. by Oct '26", '7 out of 14',
       "Poss. by Jan '27", '9 out of 14', '3 out of 13', '40 X 20',
       '92 X 12', '4 out of 12', '39.6 X 20', '120 X 60', '138 X 63',
       '120 X 63', '126 X 66', "Poss. by Apr '27", "Poss. by May '27",
       '1 out of 12', '52.5 X 26.1', '55 X 22', '2 out of 12', '180 X 45',
       '31 X 41', "Poss. by Mar '27", '46 X 46.17', "Poss. by Jul '26",
       '12 out of 12', '110 X 27.27', "Poss. by Aug '26", '73.7 X 53.1',
       "Poss. by Jul '27", '4 out of 11', "Poss. by Jun '27",
       "Poss. by Nov '26", '4 out of 9', '240 X 180', "Poss. by Mar '28",
       '1200 X 3', '144 X 105', "Poss. by Nov '28"], dtype=object)

In [85]:
valid_status = ['Ready to Move', 'New Property', 'Freehold', 'Resale', 'Power Of Attorney', 'Const. Age New Construction']
possession_pattern = r"^Poss\. by [A-Za-z]{3} '\d{2}$"
def clean_status(value):
    if pd.isnull(value):
        return np.nan
    if value in valid_status:
        return value
    if re.match(possession_pattern, value):
        return value
    return np.nan  # Unrelated values will be marked as missing

# Apply the cleaning function
df['status'] = df['status'].apply(clean_status)

In [88]:
df['status'] = df['status'].fillna(df['status'].mode()[0])

In [89]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction          0
status               0
floor               45
furnishing         330
facing             575
description       1363
price_per_sqft     366
price                0
status_cleaned     136
dtype: int64

In [93]:
df['floor'].unique()

array(['5 out of 10', '6 out of 14', '5 out of 13', 'Unfurnished',
       'New Property', '7 out of 10', '3 out of 14', '6 out of 13',
       '1 out of 1', '1 out of 13', '4 out of 7', '3 out of 3',
       '2 out of 6', '3 out of 5', '2 out of 5', '3 out of 12',
       '5 out of 5', 'Resale', 'Ground out of 1',
       'Lower Basement out of 7', '1 out of 5', '7 out of 14',
       '9 out of 14', '5 out of 12', '7 out of 13', '1 out of 2',
       '2 out of 10', 'Freehold', '12 out of 14', '10 out of 14',
       '2 out of 12', '1 out of 4', '13 out of 14', '4 out of 14',
       '6 out of 10', '2 out of 4', '3 out of 4', '9 out of 13',
       'Upper Basement out of 5', '3 out of 10', '1 out of 3',
       '4 out of 4', 'Ground out of 2', 'Lower Basement out of 2',
       'Ground out of 4', nan, 'Ground out of 5', '4 out of 10',
       'Ground out of 14', 'Ground out of 6', '5 out of 6', '8 out of 9',
       '4 out of 5', '2 out of 7', '7 out of 7', 'Ground out of 3',
       '4 out of 8', '8 out of 14', '6 out of 7', '7 out of 11',
       'Upper Basement out of 4', 'Furnished', 'Congo', '3', '2 out of 3',
       '1 out of 7', 'Ground', '1 out of 6', '9 out of 11',
       '14 out of 14', '5 out of 14', '1 out of 8', '5 out of 7',
       '8 out of 12', 'Ground out of 10', '2 out of 2', '7 out of 12',
       '3 out of 6', '1 out of 12', '16 out of 19', '13 out of 13',
       '6 out of 8', '8 out of 8', '3 out of 9', '11 out of 12',
       '6 out of 12', '8 out of 13', '11 out of 11', '4 out of 6', '1',
       '2 out of 13', '1 out of 9', '1 out of 10',
       'Upper Basement out of 14', '2', '5 out of 8', '10 out of 12',
       '3 out of 7', '6 out of 9', '4 out of 13', '11 out of 15', 'No',
       '10 out of 10', 'Ground out of 7', '3 out of 11', 'Yes',
       'Lower Basement out of 59', '6 out of 11', '4 out of 15',
       'Semi-Furnished', '11 out of 13', 'Lower Basement out of 4',
       'Upper Basement out of 12', 'Upper Basement out of 1',
       '10 out of 13', '7 out of 9', '4 out of 9', '3 out of 8',
       'Lower Basement out of 5', '4 out of 12', '10 out of 11',
       'Ground out of 11', '7 out of 8', 'Other', '1 out of 11',
       '9 out of 10', '5 out of 11', 'Lower Basement out of 6',
       '9 out of 9', 'Ground out of 13', '2 out of 8',
       'The Polaris Avenue', '4 out of 11', '12 out of 13', '8 out of 10',
       '4 out of 19', '11 out of 14', '5 out of 15', '15 out of 19',
       '3 out of 13', 'Co-operative Society', '9 out of 12',
       '7 out of 19', '2 out of 14', '10 out of 19',
       'Lower Basement out of 14', '6 out of 15', '6 out of 19',
       '2 out of 11', '9 out of 19', '9 out of 15', '18 out of 19',
       '1 out of 30', '1 out of 15', '10 out of 20', '13 out of 15',
       '1 out of 14', '20 out of 21', '8 out of 19', 'Om Residency',
       '8 out of 11', '7 out of 15', '5 out of 9', '12 out of 12',
       '11 out of 20', '2 out of 9', '14 out of 15', '15 out of 21',
       '12 out of 15', '15 out of 15', '8 out of 15', '10 out of 15',
       '13 out of 19', '10 out of 21', '3 out of 15', '14 out of 19',
       '2 out of 15', '9 out of 20', '8 out of 20', '18 out of 21',
       'Ground out of 8', '6 out of 6', 'Milestone Regalia',
       '5 out of 20', '15 out of 18', '5 out of 19', '5 out of 16',
       '17 out of 20', '5 out of 18', '15 out of 20',
       'Lower Basement out of 1', '10 out of 18', '7 out of 20',
       '17 out of 18', '7 out of 17', '5', '9 out of 25', '6 out of 20',
       '6 out of 18', 'Upper Basement out of 3', '4 out of 18',
       '9 out of 21', '4 out of 21', '19 out of 19', '17 out of 19',
       '7 out of 18', '20 out of 20', '4 out of 20', '9 out of 18',
       'Ground out of 12', '3 out of 18', 'Ground out of 19',
       '16 out of 20', '2 out of 19', '16 out of 18', '12 out of 19',
       '3 out of 19', '3 out of 20', '1 out of 20', '2 out of 17',
       '9 out of 17', '14 out of 20', '1 out of 18'], dtype=object)

In [112]:
ground_pattern = r"^Ground out of ([1-9]|[1-9][0-9]|[1-6][0-9]{2}|700)$"
basement_pattern = r"^(Lower|Upper) Basement out of \d+$"

floor_unrelated_values = ['Unfurnished', 'New Property', 'Resale', 'Freehold', 'Furnished', 'Congo', 'Ground', 'Semi-Furnished', 'Other', 'The Polaris Avenue', 'No', 'Yes']

def clean_floor(value):
    if pd.isnull(value):
        return np.nan
    if value in floor_unrelated_values:
        return np.nan
    if re.match(ground_pattern, str(value)):
        return np.nan
    if re.match(basement_pattern, str(value)):
        return np.nan
    return value


df['floor'] = df['floor'].apply(clean_floor)

In [116]:
df['floor'] = df['floor'].fillna(df['floor'].mode()[0])

In [118]:
df['floor'].unique()

array(['5 out of 10', '6 out of 14', '5 out of 13', '7 out of 10',
       '3 out of 14', '6 out of 13', '1 out of 1', '1 out of 13',
       '4 out of 7', '3 out of 3', '2 out of 6', '3 out of 5',
       '2 out of 5', '3 out of 12', '5 out of 5', '1 out of 5',
       '7 out of 14', '9 out of 14', '5 out of 12', '7 out of 13',
       '1 out of 2', '2 out of 10', '12 out of 14', '10 out of 14',
       '2 out of 12', '1 out of 4', '13 out of 14', '4 out of 14',
       '6 out of 10', '2 out of 4', '3 out of 4', '9 out of 13',
       '3 out of 10', '1 out of 3', '4 out of 4', '4 out of 10',
       '5 out of 6', '8 out of 9', '4 out of 5', '2 out of 7',
       '7 out of 7', '4 out of 8', '8 out of 14', '6 out of 7',
       '7 out of 11', '3', '2 out of 3', '1 out of 7', '1 out of 6',
       '9 out of 11', '14 out of 14', '5 out of 14', '1 out of 8',
       '5 out of 7', '8 out of 12', '2 out of 2', '7 out of 12',
       '3 out of 6', '1 out of 12', '16 out of 19', '13 out of 13',
       '6 out of 8', '8 out of 8', '3 out of 9', '11 out of 12',
       '6 out of 12', '8 out of 13', '11 out of 11', '4 out of 6', '1',
       '2 out of 13', '1 out of 9', '1 out of 10', '2', '5 out of 8',
       '10 out of 12', '3 out of 7', '6 out of 9', '4 out of 13',
       '11 out of 15', '10 out of 10', '3 out of 11', '6 out of 11',
       '4 out of 15', '11 out of 13', '10 out of 13', '7 out of 9',
       '4 out of 9', '3 out of 8', '4 out of 12', '10 out of 11',
       '7 out of 8', '1 out of 11', '9 out of 10', '5 out of 11',
       '9 out of 9', '2 out of 8', '4 out of 11', '12 out of 13',
       '8 out of 10', '4 out of 19', '11 out of 14', '5 out of 15',
       '15 out of 19', '3 out of 13', 'Co-operative Society',
       '9 out of 12', '7 out of 19', '2 out of 14', '10 out of 19',
       '6 out of 15', '6 out of 19', '2 out of 11', '9 out of 19',
       '9 out of 15', '18 out of 19', '1 out of 30', '1 out of 15',
       '10 out of 20', '13 out of 15', '1 out of 14', '20 out of 21',
       '8 out of 19', 'Om Residency', '8 out of 11', '7 out of 15',
       '5 out of 9', '12 out of 12', '11 out of 20', '2 out of 9',
       '14 out of 15', '15 out of 21', '12 out of 15', '15 out of 15',
       '8 out of 15', '10 out of 15', '13 out of 19', '10 out of 21',
       '3 out of 15', '14 out of 19', '2 out of 15', '9 out of 20',
       '8 out of 20', '18 out of 21', '6 out of 6', 'Milestone Regalia',
       '5 out of 20', '15 out of 18', '5 out of 19', '5 out of 16',
       '17 out of 20', '5 out of 18', '15 out of 20', '10 out of 18',
       '7 out of 20', '17 out of 18', '7 out of 17', '5', '9 out of 25',
       '6 out of 20', '6 out of 18', '4 out of 18', '9 out of 21',
       '4 out of 21', '19 out of 19', '17 out of 19', '7 out of 18',
       '20 out of 20', '4 out of 20', '9 out of 18', '3 out of 18',
       '16 out of 20', '2 out of 19', '16 out of 18', '12 out of 19',
       '3 out of 19', '3 out of 20', '1 out of 20', '2 out of 17',
       '9 out of 17', '14 out of 20', '1 out of 18'], dtype=object)

In [119]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction          0
status               0
floor                0
furnishing         330
facing             575
description       1363
price_per_sqft     366
price                0
status_cleaned     136
dtype: int64

In [ ]:
df['furnishing'].unique()

array(['Unfurnished', 'Semi-Furnished', '2', 'Anand Aspire', 'East', '1',
       'Furnished', nan, '3', '1 Covered,', '2 Covered', '1 Covered',
       'Freehold', 'West', '26 Covered', 'Main Road', 'No', 'North',
       '1 Open', '6', 'Co-operative Society', '> 10', '4',
       'Nilkanth Seven Homes', 'Aagam Navkar', '10 Open',
       'Vinayak Enclave', '5 Covered,', 'South -West',
       'Pool, Garden/Park, Main Road', 'Garden/Park, Main Road', '7 m',
       '30 m', '50 Covered,', 'South', '12 m', 'Yes', 'Gruham Luxuria',
       '2 Covered,', 'Congo', 'Prayosha Shine', 'North - East',
       'Vaishnodevi Ideal Homes', 'Santvan Lexon', 'Sangini Epitome',
       '100 Covered', 'Nirvana Gladiolus', '7', '5 Covered', '5',
       'Raghuvir Spalex', '50 Open', 'South - East', 'North - West',
       '20 m', '20 Open', 'Garden/Park', '10 m', 'Sattvam',
       'Pramukh Amaya', 'Sun Sarvam', '3 Covered', '2 Open', '6 m',
       'Avadh Kimberly', 'Happy Glorious', 'DMD Aura', 'Freedom Tower',
       '15 m', 'Surya Signature', 'Someshwara Enclave',
       'Green Valley Row House', 'Green Valley', 'Vatsalya Bungalows',
       'DMD Signus', '10 Covered,', 'Ambience', 'Milestone Pristine',
       'Bblossom The Presidency'], dtype=object)

In [131]:
furnishing_values_keep = ['Unfurnished', 'Semi-Furnished', 'Furnished']
if 'furnishing' != furnishing_values_keep:
    df['furnishing'] = df['furnishing'].where(df['furnishing'].isin(furnishing_values_keep), np.nan)
df['furnishing'] = df['furnishing'].fillna('Unknown')

In [132]:
df['furnishing'].unique()

array(['Unfurnished', 'Semi-Furnished', 'Unknown', 'Furnished'],
      dtype=object)

In [133]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction          0
status               0
floor                0
furnishing           0
facing             575
description       1363
price_per_sqft     366
price                0
status_cleaned     136
dtype: int64

In [134]:
df['facing'].unique()

array(['West', 'South -West', 'East', '2', 'Main Road', nan,
       'North - East', 'South - East', '1', 'Freehold', 'Garden/Park',
       '3', 'North - West', 'South', '6', 'Co-operative Society',
       'Garden/Park, Main Road', '1 Covered', 'No', '30 m', 'North',
       'Varni Siddheshwar Heights', '5', 'Salasar Icon', 'Green Valley',
       'Shyam enclave', 'Rajhans Platinum', 'Vitthal Bunglows', '1 Open',
       'Royal Nest', 'Rajhans Wings', '2 Open',
       'Gordhan Green Valley Mangalam Park Bldg S',
       'Apt Swaminagar Society', 'Swagat Clifton', 'Akash',
       'Green Arcade Phase 1 And 2', 'Satyam Tower', '4',
       'Suryanjali Residency', 'GHB Mukhya Mantri Gruh Yojana',
       'Vibrant Eco Park', 'Madhav Residency', 'Shiv Drashti Residency',
       'Gruham Luxuria', 'SHANKHESHWER COMPLAX', 'JT Stuti Highland',
       'Times Galaxy', '100 m', 'Savani Prayosha Pride',
       'Shayona Janki Residency', 'Sundaram Residency', '6 m',
       'Silicon Palm', 'Raj Abhishek City Homes',
       'Dhvani Royal Residency', 'Residency', 'Pan Sharanam',
       'Gruham Royal Park', 'Rajhans Swapna', 'Panchtatva Residency',
       'Manvay Residency', 'Prayosha Shine', 'Yes',
       'Swapna Villa 2 Phase 2', 'Green City', 'Rajhans Apple',
       'Sai Residency', 'Anjani Enclave', 'Shakuntal Complex',
       '2 Covered', 'Galaxy Imperia', 'Pool, Garden/Park, Main Road',
       'Silver Plaza Complex', 'Swami Twin City 5', 'Majura Gate Surat',
       'Orchid Greens', 'Aditya Vrundavan Heights', 'Pool', '900 m',
       'Vaishnodevi Amour Jahagirabad', 'Shantam Apartment',
       'Siddhi Vinayak Green', '20 m', 'Ambika Heaven', '10 m',
       'MD Om Palace', 'Global City', 'Maa Krupa Residency Society',
       'Man Sarovar Residency and Plaza', 'Bella Casaa',
       'Shree Tirupati Balaji Town', 'Aagam Navkar', 'Omkar Residency',
       'Nova Complex', '25 m', 'Amber Palace', '1 Covered,',
       'Vaishnodevi Ideal Homes', '7 m', '45 X 14 ft Sqft',
       'Santvan Lexon', 'Atlanta Sky Desk', 'Nakshatra Platinum',
       'Siddhi Vinayak Heights', 'Coral Heights', 'Aakash Homes',
       'Nandini 3', 'Sundaram Status', 'Happy Elegance',
       'Dream World Residency', 'Raghuvir Saffron',
       'Vasant Vihar Township', 'Kalpavruksha Garden', 'Ashirwad Enclave',
       'Jolly Residency', '9', 'Stylome Heights', 'Marvella Residency',
       'Meera Avenue', 'Garden/Park, Pool', 'Rajhans Orange',
       'Rajhans Synfonia', 'Sat Aria', 'Lake Castle',
       'Raghuvir Sentosa Heights', 'Shalibhadra Complex',
       'Shiv Shrungal Solitaire', 'Sangini Gardenia', 'Green Leaf',
       'Pooja Aagam Cross Roads', '7', 'Nakshatra Nebula', 'Peak Living',
       'Prasidhi Apartment', 'Nandini 1', 'Soham Residency',
       'Pool, Garden/Park', 'Shreepad Ethics', '15 m', '12 m',
       'Eco Parkside', 'Garden/Park, Pool, Main Road', '2 m',
       'Santvan Seron', 'Nakshatra Galaxia', '150 m', 'Oliva Height',
       'Mahaveer Nagar', '4 m', 'Shreepad Infinia', 'Bilvam Regency',
       'Palladium Sky', '3 Covered', 'Prestige manor', 'Green City Gold',
       'Meera Park', 'Aagam Paramount', 'Sumeru Golden Leaf',
       'Avadh Shangrila', '45 X', 'Rajhans Cremona',
       'Atithi Western Oasis', 'Harmony', 'Cellestial Dreams',
       'Nandanvan III', 'aventis ofira', 'Samarth Enclave',
       'Happy Home Capital Greens', 'Shaligram The Emerald', '135 X',
       '131 X', 'Vesu Point', '8 m', '1 m', 'Power Of Attorney',
       '20275 m'], dtype=object)