In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import os
from pathlib import Path
import re, nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize, pos_tag
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import joblib

In [2]:
neg_path = "aclImdb/train/neg" 
pos_path = "aclImdb/train/pos"

In [ ]:
for filename in os.listdir(neg_path):
    file_path = os.path.join(neg_path, filename)
    if os.path.isfile(file_path):
        try:
            with open(file_path, 'r') as f:
                content = f.read()
                print(f"Content of {filename}:\n{content}\n---")
        except Exception as e:
            print(f"Error reading {filename}: {e}")

In [ ]:
for filename in os.listdir(pos_path):
    file_path = os.path.join(pos_path, filename)
    if os.path.isfile(file_path):
        try:
            with open(file_path, 'r') as f:
                content = f.read()
                print(f"Content of {filename}:\n{content}\n---")
        except Exception as e:
            print(f"Error reading {filename}: {e}")

convert text to data frame

In [ ]:
def load_imdb_split(split_dir):
    rows = []
    for label_name in ("neg", "pos"):
        label = 0 if label_name == "neg" else 1
        folder = Path(split_dir) / label_name
        for fp in folder.glob("*.txt"):
            with open(fp, "r", encoding="utf-8", errors="ignore") as f:
                rows.append({"review": f.read(), "label": label})
    return pd.DataFrame(rows)

In [ ]:
df = load_imdb_split("aclImdb/train")
if len(df) > 10_000:
    df = df.sample(n=10_000, random_state=42).reset_index(drop=True)

df

clean the data

In [24]:
nltk.download('stopwords', quiet=True)
nltk.download('wordnet', quiet=True)
nltk.download('omw-1.4', quiet=True)
nltk.download('punkt', quiet=True)
stop_words = set(stopwords.words("english"))
lemm = WordNetLemmatizer()
HTML_RE   = re.compile(r'<.*?>')                   
URL_RE    = re.compile(r'https?://\S+|www\.\S+')
EMAIL_RE  = re.compile(r'\S+@\S+')
NONLETTER = re.compile(r'[^a-z\s]')               
MULTISPACE= re.compile(r'\s+')

In [25]:
def clean_review(text: str) -> str:
    """Basic, readable cleaner for IMDb reviews."""
    if not isinstance(text, str):
        return ""
    x = text.lower()                    #  lowercase
    x = HTML_RE.sub(" ", x)             #  remove HTML tags
    x = URL_RE.sub(" ", x)              #  remove URLs
    x = EMAIL_RE.sub(" ", x)            #  remove emails
    x = NONLETTER.sub(" ", x)           #  drop punctuation, numbers, emojis
    tokens = nltk.word_tokenize(x)      #  tokenize
    tokens = [t for t in tokens
              if t not in stop_words and len(t) > 2]  #  remove stopwords + very short tokens
    lemmas = [lemm.lemmatize(t) for t in tokens]      #  lemmatize (basic, noun-default)
    out = " ".join(lemmas)
    return MULTISPACE.sub(" ", out).strip()

In [27]:
nltk.download('punkt', quiet=True)
nltk.download('punkt_tab', quiet=True)

True

In [29]:
df["cleaned_review"] = df["review"].apply(clean_review)
pairs = df.sample(10, random_state=1)[["review", "cleaned_review"]]
for i, row in enumerate(pairs.itertuples(index=False), 1):
    print(f"\n--- Example {i} ---")
    print("Raw:     ", row.review[:200].replace("\n"," ") + ("..." if len(row.review) > 200 else ""))
    print("Cleaned: ", row.cleaned_review)

--- Example 1 ---
Raw:      Higher and Higher was one of Rodgers&Hart's lesser Broadway musicals it only had a run of 84 performances on Broadway in 1940. Yet it yielded one of their bigger hits It Never Entered My Mind.<br /><b...
Cleaned:  higher higher one rodgers hart lesser broadway musical run performance broadway yet yielded one bigger hit never entered mind nevertheless except one minor song disgustingly rich entire broadway score scrapped rko bought film right instead whole new score jimmy mchugh harold adamson written mostly accommodate one francis albert sinatra making feature film debut sinatra done vocal cameo previous film take leaf page singing rival bing crosby bing feature film debut big broadcast played bing crosby frank sinatra took role frank sinatra think anyone could done better job chairman board billed third behind star jack haley michele morgan butler scullery maid leon errol fact errol millionaire paid help seven month mainly belly chapter informs staff errol delightful old soul work none staff want lose good thing pool resource get michele morgan impersonate errol daughter switzerland mother idea snag rich bankroll hope rescuing family fortune michele start looking another slight plot certainly worse whole lot musical rko invested film good cast player barbara hale elizabeth risdon play another butante mother suspect something right victor borge fortune seeking account dooley wilson paul hartman grace hartman marcy mcguire mel torme mary wickes play others errol household staff bad bunch sinatra sang three good ballad kind commercial success music stopped lovely way spend evening sleep wink last night last one nominated oscar best song lost alice faye never know year musician union strike recording industry get material frank sinatra recorded song higher higher acapella chorus columbia bing crosby recorded song film dixie manner decca denounced president union james petrillo strikebreaker cross picket line strike settle completely although decca broke rank earlier record company settled earlier columbia rca victor others strike provided anxious moment sinatra left tommy dorsey orchestra strike called closed needed venue artistry sure whether leaving dorsey would prove right career move fortunately higher higher received well legend launched

--- Example 2 ---
Raw:      Stephen King adaptation (scripted by King himself) in which a young family, newcomers to rural Maine, find out about the pet cemetery close to their home. The father (Dale Midkiff) then finds out abou...
Cleaned:  stephen king adaptation scripted king young family newcomer rural maine find pet cemetery close home father dale midkiff find micmac burial ground beyond pet cemetery power resurrection course anything buried come back quite right average horror picture start clumsy insulting inept continues way absolute worst element midkiff worthless performance get little better toward end genuinely disturbing finale point fact whole movie really disturbing completely dismiss least something make memorable decent supporting performance fred gwynne wise old aged neighbor brad greenquist disfigured spirit victor pascow enough really redeem film king usual cameo minister followed sequel also directed mary lambert wonder mainstream film work since

--- Example 3 ---
Raw:      This series adds new information and background to the book and includes personal appearances by the author and by archaeologists and other anthropologists. It brings the book to life and makes even m...
Cleaned:  series add new information background book includes personal appearance author archaeologist anthropologist brings book life make even sense author subsequent opus collapse diamond come personable caring disinterested disengaged academic series make clear book response need publish perish saying go academe deeply considered answer question someone respect white people got much cargo little respected intelligence questioner community diamond looked answer insult intelligence community like think answer simple way spirit south park blame canada blame wheat

--- Example 4 ---
Raw:      It was a bit bizarre and evil and i enjoyed it a lot, the characters in the show were great as well, and complimented one another well. I was sorry to see it cut off.. I would have loved to see where ...
Cleaned:  bit bizarre evil enjoyed lot character show great well complimented one another well sorry see cut would loved see could went found leaning toward lucas buck sheriff secret anyone lucas frightening alluring would liked seen character became however buy show enjoy great something different paige turrco caleb cousin big mystery meant lucas shame around still never finished would loved see would happened

--- Example 5 ---
Raw:      The original Boogeyman was a silly but entertaining supernatural slasher flick. It was by no means a great film but fun in the right frame of mind. The third instalment in this series, Return of the B...
Cleaned:  original boogeyman silly entertaining supernatural slasher flick mean great film fun right frame mind third instalment series return boogeyman hand simply atrocious consists two thing firstly cheap lifeless new footage secondly load recycled bit first movie new material unbelievably amateurish amusingly inept way simply incredibly tedious footage clearly knocked together quickly without effort serf framing device endless clip first possibly second movie boy milk clip earlier film sometimes reusing sequence new addition part voice pointlessly describes exactly see eye whole experience watching truly mind numbing return boogeyman example worst kind exploitation flick kind exploit audience highly cynical way want keep review brief point film deserves nothing value worthless

--- Example 6 ---
Raw:      Will Smith is one of the best actors of all time. I don't know how he does it. I read books constantly but if there is a movie with Will Smith I will watch it. He has a rare gift of pulling you into t...
Cleaned:  smith one best actor time know read book constantly movie smith watch rare gift pulling movie holding movie one best movie seen yet watched saturday still get head amazing sad time thanks must watch movie beginning end understand every part movie miss thing make sure plenty kleenex man woman sitting next cuddle well worth money pay watch wait come

--- Example 7 ---
Raw:      It takes guts to make a movie on Gandhi in India ,in which he is not shown as a man who could do no wrong.This movie shows how a Mahatma failed to be a decent father(at least in the eyes of his son). ...
Cleaned:  take gut make movie gandhi india shown man could wrong movie show mahatma failed decent father least eye son performance terrific cinematography fantastic direction fabulous film drag intention make movie without box office expectation assume case brilliant attempt maker expecting commercial success film fate doomed day chose subject yr movie remembered brilliant portrayal harilal akshaye khanna deserves oscar nomination one honestly performance worth applauding shefali chhaya terrific watch scene harilal hears father death dialogue screaming speechless shot khanna one finest scene ever shot history cinema gandhi father exciting cinema yes excellent cinema must watch brilliant attempt

--- Example 8 ---
Raw:      I just don't understand why this movie is getting beat-up in here. Jeez. It is mindless, it isn't polished and it is (as I am reading) wasted on some. The cast of this movie plays their characters to ...
Cleaned:  understand movie getting beat jeez mindless polished reading wasted cast movie play character watched permanent midnight became ben stiller fan yes disappointed misunderstood well intentioned misfit trying save city world nothing grit determination problem realize limit big showdown point time movie spy shagged yet get panned demographic group likely people feel first movie pale comparison sequel get joke work one level get know level

--- Example 9 ---
Raw:      When you see Boris Karloff and Bela Lugosi as co-stars, you expect to find a well done horror movie, but this was actually quite different, representing as it did what I would describe as an early eff...
Cleaned:  see boris karloff bela lugosi star expect find well done horror movie actually quite different representing would describe early effort science fiction karloff lugosi play scientist rukh benet respectively competitor extent rukh win benet demonstration prof great theory science say least bit rough around edge thus science fiction emphasis fiction somehow rukh harness sort ray andromeda allows look earth several thousand million year ago pre historic time huge meteorite slammed africa leaving deposit substance scientist call radium heal destroy large portion movie set rather tediously africa search meteorite deposit rukh eventually find harness create great weapon unfortunately infecting sort disease make great weapon well karloff lugosi pretty good lugosi pull role good guy pretty well although frankly found bit unconvincing especially scene set africa story also plodded along bit held attention captivate given really sci rather horror flick sci early stage suppose movie need cut bit slack nothing also nothing less

--- Example 10 ---
Raw:      I haven't written a review on IMDb for the longest time, however, I felt myself compelled to write this! When looking up this movie I found one particular review which urged people NOT to see this fil...
Cleaned:  written review imdb longest time however felt compelled write looking movie found one particular review urged people see film pay attention ignorant person nothing fantastic film full laugh imagination sick tired force fed old cycle bubble gum trash movie sometimes film like nothing come along give something never seen even care dislike even hate movie one right discredit film imdb monumental impact reputation negative review discredit film like say hate hate try tell people watch mind make mind thank judgment good say people enjoy movie opposed hate treat mind bit eye candy see nothing

save clean df

In [30]:
df[["review", "cleaned_review", "label"]].to_csv("imdb_cleaned.csv", index=False, encoding="utf-8")
print("Saved: imdb_cleaned.csv")

Saved: imdb_cleaned.csv

In [31]:
df.head()

,review,label,cleaned_review
0,"Silent Night, Deadly Night 5 is the very last ...",0,silent night deadly night last series like par...
1,The idea ia a very short film with a lot of in...,1,idea short film lot information interesting en...
2,"For me, this movie just seemed to fall on its ...",0,movie seemed fall face main problem casting gl...
3,Was this based on a comic-book? A video-game? ...,1,based comic book video game drawing year old n...
4,Caution: May contain spoilers...<br /><br />I'...,1,caution may contain spoiler seen movie time li...

testing manner

In [32]:
demo = "I LOVED this movie!! <br /><br /> It was amazing :) 10/10"
print("Raw:    ", demo)
print("Cleaned:", clean_review(demo))

Raw:     I LOVED this movie!! <br /><br /> It was amazing :) 10/10
Cleaned: loved movie amazing

try to add rating and file name to df

In [34]:
def load_imdb_with_filename_rating(root="aclImdb/train"):
    rows = []
    for label_name in ("neg", "pos"):
        label = 0 if label_name == "neg" else 1
        folder = os.path.join(root, label_name)
        for fn in os.listdir(folder):
            if not fn.endswith(".txt"):
                continue
            fp = os.path.join(folder, fn)
            with open(fp, "r", encoding="utf-8", errors="ignore") as f:
                txt = f.read()
            rating = int(fn.split("_")[-1].split(".")[0])  # e.g., 12345_7.txt -> 7
            rows.append({
                "filename": fn,
                "review": txt,
                "label": label,
                "rating": rating
            })
    return pd.DataFrame(rows)

In [35]:
df = load_imdb_with_filename_rating("aclImdb/train")
print(df.head(), df.columns.tolist())

      filename                                             review  label  \
0      0_3.txt  Story of a man who has unnatural feelings for ...      0
1  10000_4.txt  Airport '77 starts as a brand new luxury 747 p...      0
2  10001_4.txt  This film lacked something I couldn't put my f...      0
3  10002_1.txt  Sorry everyone,,, I know this is supposed to b...      0
4  10003_1.txt  When I was little my parents took me along to ...      0

   rating
0       3
1       4
2       4
3       1
4       1   ['filename', 'review', 'label', 'rating']

In [36]:
df

,filename,review,label,rating
0,0_3.txt,Story of a man who has unnatural feelings for ...,0,3
1,10000_4.txt,Airport '77 starts as a brand new luxury 747 p...,0,4
2,10001_4.txt,This film lacked something I couldn't put my f...,0,4
3,10002_1.txt,"Sorry everyone,,, I know this is supposed to b...",0,1
4,10003_1.txt,When I was little my parents took me along to ...,0,1
...,...,...,...,...
24995,9998_9.txt,"Seeing as the vote average was pretty low, and...",1,9
24996,9999_8.txt,"The plot had some wretched, unbelievable twist...",1,8
24997,999_10.txt,I am amazed at how this movie(and most others ...,1,10
24998,99_8.txt,A Christmas Together actually came before my t...,1,8
24999,9_7.txt,Working-class romantic drama from director Mar...,1,7

combine the new df with the old

In [42]:
df["cleaned_review"] = df["review"].apply(clean_review)
df[["filename", "cleaned_review", "label", "rating"]].to_csv(
    "imdb_cleaned_with_rating.csv", index=False, encoding="utf-8"
)

In [44]:
df.drop(columns=["review"], inplace=True, errors="ignore")
df = df[["filename", "cleaned_review", "label", "rating"]]
df

,filename,cleaned_review,label,rating
0,0_3.txt,story man unnatural feeling pig start opening ...,0,3
1,10000_4.txt,airport start brand new luxury plane loaded va...,0,4
2,10001_4.txt,film lacked something put finger first charism...,0,4
3,10002_1.txt,sorry everyone know supposed art film wow hand...,0,1
4,10003_1.txt,little parent took along theater see interior ...,0,1
...,...,...,...,...
24995,9998_9.txt,seeing vote average pretty low fact clerk vide...,1,9
24996,9999_8.txt,plot wretched unbelievable twist however chemi...,1,8
24997,999_10.txt,amazed movie others average star lower crappy ...,1,10
24998,99_8.txt,christmas together actually came time raised j...,1,8
24999,9_7.txt,working class romantic drama director martin r...,1,7

cleaning

In [46]:
df = df.dropna(subset=["cleaned_review"])
df = df[df["cleaned_review"].str.strip().astype(bool)]

In [47]:
df = df.drop_duplicates(subset="cleaned_review").reset_index(drop=True)

In [48]:
df

,filename,cleaned_review,label,rating
0,0_3.txt,story man unnatural feeling pig start opening ...,0,3
1,10000_4.txt,airport start brand new luxury plane loaded va...,0,4
2,10001_4.txt,film lacked something put finger first charism...,0,4
3,10002_1.txt,sorry everyone know supposed art film wow hand...,0,1
4,10003_1.txt,little parent took along theater see interior ...,0,1
...,...,...,...,...
24895,9998_9.txt,seeing vote average pretty low fact clerk vide...,1,9
24896,9999_8.txt,plot wretched unbelievable twist however chemi...,1,8
24897,999_10.txt,amazed movie others average star lower crappy ...,1,10
24898,99_8.txt,christmas together actually came time raised j...,1,8
24899,9_7.txt,working class romantic drama director martin r...,1,7

In [49]:
df.groupby("label")["rating"].describe()

         count      mean       std  min  25%  50%   75%   max
label
0      12430.0  2.217458  1.190220  1.0  1.0  2.0   3.0   4.0
1      12470.0  8.737370  1.161955  7.0  8.0  9.0  10.0  10.0

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    df["cleaned_review"], df["label"],
    test_size=0.2, stratify=df["label"], random_state=42
)

In [52]:
vec = TfidfVectorizer(max_features=50000, ngram_range=(1,2), min_df=2)
Xtr = vec.fit_transform(X_train)
Xva = vec.transform(X_val)

clf = LogisticRegression(max_iter=1000)
clf.fit(Xtr, y_train)
pred = clf.predict(Xva)

print("Accuracy:", accuracy_score(y_val, pred))
print(confusion_matrix(y_val, pred))
print(classification_report(y_val, pred, digits=3))

Accuracy: 0.8883534136546185
[[2194  292]
 [ 264 2230]]
              precision    recall  f1-score   support

           0      0.893     0.883     0.888      2486
           1      0.884     0.894     0.889      2494

    accuracy                          0.888      4980
   macro avg      0.888     0.888     0.888      4980
weighted avg      0.888     0.888     0.888      4980

1 for positive and 0 for negative

In [55]:
joblib.dump((vec, clf), "imdb_tfidf_logreg.joblib")

def predict_sentiment(text: str) -> int:
    cleaned = clean_review(text)
    X = vec.transform([cleaned])
    return int(clf.predict(X)[0])

print(predict_sentiment("I loved this movie!!"))   
print(predict_sentiment("Terrible and boring"))

1
0